Group_C/nodered/safety_scada_to_mqtt.json
[
    {
        "id": "33bd032f3b380845",
        "type": "tab",
        "label": "Floor 0 - control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ada6e66c8d78eee6",
        "type": "mqtt out",
        "z": "33bd032f3b380845",
        "name": "",
        "topic": "326project/smartbuilding/safety/0/0/firealarm",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09aa4f33388c809e",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "c674b1f477c6d5cd",
        "type": "ui_button",
        "z": "33bd032f3b380845",
        "name": "",
        "group": "99428f375d894e86",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Alarm",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"alarm\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "ada6e66c8d78eee6"
            ]
        ]
    },
    {
        "id": "2402014030547b96",
        "type": "ui_button",
        "z": "33bd032f3b380845",
        "name": "",
        "group": "99428f375d894e86",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Alarm",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"alarm\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "ada6e66c8d78eee6"
            ]
        ]
    },
    {
        "id": "f37f9d9c90f8af1d",
        "type": "comment",
        "z": "33bd032f3b380845",
        "name": "Alarm [Global]",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "4f5604b996441a35",
        "type": "comment",
        "z": "33bd032f3b380845",
        "name": "Sprinklers",
        "info": "",
        "x": 120,
        "y": 240,
        "wires": []
    },
    {
        "id": "a4a4f4d04acec25e",
        "type": "mqtt out",
        "z": "33bd032f3b380845",
        "name": "",
        "topic": "326project/smartbuilding/safety/0/1/sprinkler",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09aa4f33388c809e",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "ca1c04f62629499e",
        "type": "ui_button",
        "z": "33bd032f3b380845",
        "name": "",
        "group": "0be49b5365a63ac6",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Enable",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"alarm\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "a4a4f4d04acec25e"
            ]
        ]
    },
    {
        "id": "fd442a2aab923725",
        "type": "ui_button",
        "z": "33bd032f3b380845",
        "name": "",
        "group": "0be49b5365a63ac6",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Disable",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"alarm\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "a4a4f4d04acec25e"
            ]
        ]
    },
    {
        "id": "4c5610ac030977d4",
        "type": "mqtt out",
        "z": "33bd032f3b380845",
        "name": "",
        "topic": "326project/smartbuilding/safety/0/2/sprinkler",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09aa4f33388c809e",
        "x": 470,
        "y": 480,
        "wires": []
    },
    {
        "id": "3702869d224a0705",
        "type": "ui_button",
        "z": "33bd032f3b380845",
        "name": "",
        "group": "0be49b5365a63ac6",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Enable",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"sprinkler\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "4c5610ac030977d4"
            ]
        ]
    },
    {
        "id": "55dd3c11d441570d",
        "type": "ui_button",
        "z": "33bd032f3b380845",
        "name": "",
        "group": "0be49b5365a63ac6",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Disable",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"sprinkler\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "4c5610ac030977d4"
            ]
        ]
    },
    {
        "id": "2196a1e0b9ebe31e",
        "type": "ui_text",
        "z": "33bd032f3b380845",
        "group": "0be49b5365a63ac6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Room 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "1f397f15c9debf80",
        "type": "ui_text",
        "z": "33bd032f3b380845",
        "group": "0be49b5365a63ac6",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Room 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 140,
        "y": 420,
        "wires": []
    },
    {
        "id": "88bd21f63499cd37",
        "type": "mqtt out",
        "z": "33bd032f3b380845",
        "name": "",
        "topic": "326project/smartbuilding/safety/0/3/sprinkler",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09aa4f33388c809e",
        "x": 1110,
        "y": 320,
        "wires": []
    },
    {
        "id": "ad2c5eceb3c62357",
        "type": "ui_button",
        "z": "33bd032f3b380845",
        "name": "",
        "group": "1e7d6b532a03296b",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Enable",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"alarm\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 780,
        "y": 300,
        "wires": [
            [
                "88bd21f63499cd37"
            ]
        ]
    },
    {
        "id": "d65cb06f35474beb",
        "type": "ui_button",
        "z": "33bd032f3b380845",
        "name": "",
        "group": "1e7d6b532a03296b",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Disable",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"alarm\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 780,
        "y": 340,
        "wires": [
            [
                "88bd21f63499cd37"
            ]
        ]
    },
    {
        "id": "99e31ab8768331e4",
        "type": "mqtt out",
        "z": "33bd032f3b380845",
        "name": "",
        "topic": "326project/smartbuilding/safety/0/4/sprinkler",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09aa4f33388c809e",
        "x": 1110,
        "y": 460,
        "wires": []
    },
    {
        "id": "5358630b4fda5946",
        "type": "ui_button",
        "z": "33bd032f3b380845",
        "name": "",
        "group": "1e7d6b532a03296b",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Enable",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"sprinkler\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 780,
        "y": 440,
        "wires": [
            [
                "99e31ab8768331e4"
            ]
        ]
    },
    {
        "id": "d87a2982a7f985ea",
        "type": "ui_button",
        "z": "33bd032f3b380845",
        "name": "",
        "group": "1e7d6b532a03296b",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Disable",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"sprinkler\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 780,
        "y": 480,
        "wires": [
            [
                "99e31ab8768331e4"
            ]
        ]
    },
    {
        "id": "414e67764df9e6e1",
        "type": "ui_text",
        "z": "33bd032f3b380845",
        "group": "1e7d6b532a03296b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Room 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "2bda9d1eb408d9ed",
        "type": "ui_text",
        "z": "33bd032f3b380845",
        "group": "1e7d6b532a03296b",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Room 4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "09aa4f33388c809e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto_326",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "99428f375d894e86",
        "type": "ui_group",
        "name": "Alarm",
        "tab": "776c643df96bf1f8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0be49b5365a63ac6",
        "type": "ui_group",
        "name": "Sprinklers",
        "tab": "776c643df96bf1f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e7d6b532a03296b",
        "type": "ui_group",
        "name": "Sprinklers",
        "tab": "776c643df96bf1f8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "776c643df96bf1f8",
        "type": "ui_tab",
        "name": "Control [Floor 0]",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]