Group_C/nodered/safety_dashboard.json
[
    {
        "id": "8a527e213dcf3276",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ada6e66c8d78eee6",
        "type": "mqtt out",
        "z": "8a527e213dcf3276",
        "name": "",
        "topic": "test/topic",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dc713dff4e35e787",
        "x": 1180,
        "y": 600,
        "wires": []
    },
    {
        "id": "8c5c6f764cb1b293",
        "type": "ui_text",
        "z": "8a527e213dcf3276",
        "group": "bd372f06fc4297af",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "rm1-temp",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "1749584db568894a",
        "type": "ui_text",
        "z": "8a527e213dcf3276",
        "d": true,
        "group": "1aa9d50b89594551",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "rm2-temp",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "5f3f8c13ef9612e1",
        "type": "ui_text",
        "z": "8a527e213dcf3276",
        "d": true,
        "group": "e85c2f570d21346b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "rm3-temp",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "5a43e6fe5cbc79f9",
        "type": "ui_text",
        "z": "8a527e213dcf3276",
        "d": true,
        "group": "7861f10ac8251c59",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "rm4-temp",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "1f4b7a35f3e3aca1",
        "type": "debug",
        "z": "8a527e213dcf3276",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "b8646a0357a96f53",
        "type": "mqtt in",
        "z": "8a527e213dcf3276",
        "name": "",
        "topic": "co326project/smartbuilding/safety/1",
        "qos": "0",
        "datatype": "auto",
        "broker": "666370cb03b0d9b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "8c5c6f764cb1b293",
                "1f4b7a35f3e3aca1",
                "5d698579fcd903b7"
            ]
        ]
    },
    {
        "id": "c674b1f477c6d5cd",
        "type": "ui_button",
        "z": "8a527e213dcf3276",
        "name": "",
        "group": "cefd241389d4e056",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Alarm",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"alarm\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 540,
        "wires": [
            [
                "ada6e66c8d78eee6"
            ]
        ]
    },
    {
        "id": "2402014030547b96",
        "type": "ui_button",
        "z": "8a527e213dcf3276",
        "name": "",
        "group": "cefd241389d4e056",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Alarm",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"alarm\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 640,
        "wires": [
            [
                "ada6e66c8d78eee6"
            ]
        ]
    },
    {
        "id": "5d698579fcd903b7",
        "type": "ui_chart",
        "z": "8a527e213dcf3276",
        "name": "",
        "group": "bd372f06fc4297af",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature history",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for temperature data",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "aff655b53e622641",
        "type": "mqtt in",
        "z": "8a527e213dcf3276",
        "name": "",
        "topic": "co326project/smartbuilding/safety/fire",
        "qos": "0",
        "datatype": "auto",
        "broker": "666370cb03b0d9b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "229facbb77d8fe4f",
                "dec68db02981e6fd",
                "3726d1f4e48c01b3"
            ]
        ]
    },
    {
        "id": "229facbb77d8fe4f",
        "type": "ui_toast",
        "z": "8a527e213dcf3276",
        "position": "top right",
        "displayTime": "5",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Fire Status",
        "name": "",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "dec68db02981e6fd",
        "type": "ui_audio",
        "z": "8a527e213dcf3276",
        "name": "",
        "group": "bd372f06fc4297af",
        "voice": "urn:moz-tts:speechd:Sinhala?si",
        "always": true,
        "x": 450,
        "y": 480,
        "wires": []
    },
    {
        "id": "3726d1f4e48c01b3",
        "type": "debug",
        "z": "8a527e213dcf3276",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 580,
        "wires": []
    },
    {
        "id": "735433aa187c27c4",
        "type": "mqtt in",
        "z": "8a527e213dcf3276",
        "d": true,
        "name": "",
        "topic": "co326project/smartbuilding/safety/0/1/pullstation",
        "qos": "0",
        "datatype": "auto",
        "broker": "dc713dff4e35e787",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 260,
        "wires": [
            [
                "339681679d345a4c"
            ]
        ]
    },
    {
        "id": "339681679d345a4c",
        "type": "debug",
        "z": "8a527e213dcf3276",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 260,
        "wires": []
    },
    {
        "id": "dc713dff4e35e787",
        "type": "mqtt-broker",
        "name": "broker1",
        "broker": "172.17.0.11",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bd372f06fc4297af",
        "type": "ui_group",
        "name": "room1",
        "tab": "2dfb3566995aa91a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1aa9d50b89594551",
        "type": "ui_group",
        "name": "room2",
        "tab": "2dfb3566995aa91a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e85c2f570d21346b",
        "type": "ui_group",
        "name": "room3",
        "tab": "2dfb3566995aa91a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7861f10ac8251c59",
        "type": "ui_group",
        "name": "room4",
        "tab": "2dfb3566995aa91a",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "666370cb03b0d9b9",
        "type": "mqtt-broker",
        "name": "326mqtt",
        "broker": "172.17.0.11",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cefd241389d4e056",
        "type": "ui_group",
        "name": "fire-alarm",
        "tab": "2dfb3566995aa91a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2dfb3566995aa91a",
        "type": "ui_tab",
        "name": "zone-status",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]