Group_D/send inputs from scada to mqtt server/flows.json
[
    {
        "id": "adb84a08a7cd7a9c",
        "type": "tab",
        "label": "Floor-0 control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae09836345e3d2e7",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room0/l/power/control",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "b673bc69061ff9a8",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "234998a8758b6cb7",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Enable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "ae09836345e3d2e7",
                "c03a3d538d73fd86"
            ]
        ]
    },
    {
        "id": "fbc93298fddcec3c",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "234998a8758b6cb7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "ae09836345e3d2e7",
                "c03a3d538d73fd86"
            ]
        ]
    },
    {
        "id": "6178c7db7751b249",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room0 Lights",
        "info": "",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "31d025dce2dd10c2",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room1/l/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "497e09402cc599ef",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/l/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "b014ceb69ad2b7d1",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/c/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 640,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c007cc3d3cb2fe19",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/ahu/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 610,
        "y": 1180,
        "wires": []
    },
    {
        "id": "395b80478726871d",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/b/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 780,
        "wires": []
    },
    {
        "id": "07884bb1238fbf54",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/l/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 580,
        "y": 1340,
        "wires": []
    },
    {
        "id": "5048a9c9895f5dda",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 570,
        "y": 1540,
        "wires": []
    },
    {
        "id": "0614c3e6c3b0c05b",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room4/l/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 580,
        "y": 1740,
        "wires": []
    },
    {
        "id": "58ebd5b21a3dfa60",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/l/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 600,
        "y": 1960,
        "wires": []
    },
    {
        "id": "b4456e707684bd97",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/c/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 600,
        "y": 2520,
        "wires": []
    },
    {
        "id": "bca37d9bfa255bef",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/ahu/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 610,
        "y": 2740,
        "wires": []
    },
    {
        "id": "f9d89e43aac254b7",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/b/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 2220,
        "wires": []
    },
    {
        "id": "59dfef01282fab84",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/l/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 580,
        "y": 2960,
        "wires": []
    },
    {
        "id": "a5f062e4577a95a0",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/ahu/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 610,
        "y": 3360,
        "wires": []
    },
    {
        "id": "a145adb3b32a1f90",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/l/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 600,
        "y": 3140,
        "wires": []
    },
    {
        "id": "f8c56461e392c646",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/ahu/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 610,
        "y": 3520,
        "wires": []
    },
    {
        "id": "dfb9643c7e4741ab",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/l/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 3780,
        "wires": []
    },
    {
        "id": "ae4f420c0dce1845",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/ahu/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 3980,
        "wires": []
    },
    {
        "id": "cb4f9f2a0daeac57",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/l/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 640,
        "y": 4180,
        "wires": []
    },
    {
        "id": "63f76de0e9243464",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/ahu/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 650,
        "y": 4420,
        "wires": []
    },
    {
        "id": "aa2d908c15bfb2d6",
        "type": "mqtt out",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room10/l/power/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 4620,
        "wires": []
    },
    {
        "id": "d8595af1e04eb392",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room1 Lights",
        "info": "",
        "x": 190,
        "y": 320,
        "wires": []
    },
    {
        "id": "5aa0aff65a0b7001",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room2 Lights",
        "info": "",
        "x": 190,
        "y": 540,
        "wires": []
    },
    {
        "id": "1bfb69edb1bc53b1",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room2 Boiler",
        "info": "",
        "x": 190,
        "y": 760,
        "wires": []
    },
    {
        "id": "27060d45417932ad",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "618d83d2cafcb0a5",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "31d025dce2dd10c2",
                "c39f8b929074a786"
            ]
        ]
    },
    {
        "id": "1d1b0ad90881c958",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "618d83d2cafcb0a5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "31d025dce2dd10c2",
                "c39f8b929074a786"
            ]
        ]
    },
    {
        "id": "d7292845a2e606e2",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "7c352b25f0253769",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 620,
        "wires": [
            [
                "497e09402cc599ef",
                "85f053fcd82354e4"
            ]
        ]
    },
    {
        "id": "b39aef7866b2c22b",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "7c352b25f0253769",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "497e09402cc599ef",
                "85f053fcd82354e4"
            ]
        ]
    },
    {
        "id": "67f0e87f3a034e47",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "7c352b25f0253769",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Boiler",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 840,
        "wires": [
            [
                "395b80478726871d",
                "74e8a1aaa6467d78"
            ]
        ]
    },
    {
        "id": "fe4f7c39c68ce9cf",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "7c352b25f0253769",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Boiler",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 900,
        "wires": [
            [
                "395b80478726871d",
                "74e8a1aaa6467d78"
            ]
        ]
    },
    {
        "id": "37827c271a50bd45",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "7c352b25f0253769",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Chiller",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1040,
        "wires": [
            [
                "b014ceb69ad2b7d1",
                "f9ef27e42d9564fd"
            ]
        ]
    },
    {
        "id": "5853e8fceb2d511c",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "7c352b25f0253769",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Chiller",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1100,
        "wires": [
            [
                "b014ceb69ad2b7d1",
                "f9ef27e42d9564fd"
            ]
        ]
    },
    {
        "id": "26db332ff16c8c4d",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "7c352b25f0253769",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable ahu",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1200,
        "wires": [
            [
                "c007cc3d3cb2fe19",
                "269aa5fbe005d2c3"
            ]
        ]
    },
    {
        "id": "35b439e8f4ad3b60",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "7c352b25f0253769",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable ahu",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1260,
        "wires": [
            [
                "c007cc3d3cb2fe19",
                "269aa5fbe005d2c3"
            ]
        ]
    },
    {
        "id": "ecc2c0f308453c32",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room2 Chiller",
        "info": "",
        "x": 190,
        "y": 980,
        "wires": []
    },
    {
        "id": "38fcd8f4e1a4e87b",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room2 ahu",
        "info": "",
        "x": 190,
        "y": 1160,
        "wires": []
    },
    {
        "id": "89de90540f0278fc",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "1b5ebca9399a4393",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1380,
        "wires": [
            [
                "07884bb1238fbf54",
                "f819229e83553ad5"
            ]
        ]
    },
    {
        "id": "cb970390163056ad",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "1b5ebca9399a4393",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1440,
        "wires": [
            [
                "07884bb1238fbf54",
                "f819229e83553ad5"
            ]
        ]
    },
    {
        "id": "0c5624bd30216f40",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room3 Lights",
        "info": "",
        "x": 190,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7306db596961fbcc",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "1b5ebca9399a4393",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable ahu",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1580,
        "wires": [
            [
                "5048a9c9895f5dda",
                "2c91df85adb89fd3"
            ]
        ]
    },
    {
        "id": "8c55a0f3d948d899",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "1b5ebca9399a4393",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable ahu",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1640,
        "wires": [
            [
                "5048a9c9895f5dda",
                "2c91df85adb89fd3"
            ]
        ]
    },
    {
        "id": "bb8237e08abc7639",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room3 ahu",
        "info": "",
        "x": 190,
        "y": 1520,
        "wires": []
    },
    {
        "id": "70a792dfd234d846",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "8752e3a43f8c748a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1780,
        "wires": [
            [
                "0614c3e6c3b0c05b",
                "d3a1ee5f0d7e3abf"
            ]
        ]
    },
    {
        "id": "6609e49c9b191289",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "8752e3a43f8c748a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1840,
        "wires": [
            [
                "0614c3e6c3b0c05b",
                "d3a1ee5f0d7e3abf"
            ]
        ]
    },
    {
        "id": "d8d0db16f9a9d2df",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room4 Lights",
        "info": "",
        "x": 190,
        "y": 1720,
        "wires": []
    },
    {
        "id": "8d3f9cdca3d09f40",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "8f971de6d5bdf551",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 2000,
        "wires": [
            [
                "58ebd5b21a3dfa60",
                "416bf3d3cd72f3cd"
            ]
        ]
    },
    {
        "id": "4461c15b72b42039",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "8f971de6d5bdf551",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 2060,
        "wires": [
            [
                "58ebd5b21a3dfa60",
                "416bf3d3cd72f3cd"
            ]
        ]
    },
    {
        "id": "d63c3303224efcf6",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room5 Lights",
        "info": "",
        "x": 190,
        "y": 1940,
        "wires": []
    },
    {
        "id": "1d6a9907c330a05a",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "8f971de6d5bdf551",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Boiler",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 2260,
        "wires": [
            [
                "f9d89e43aac254b7",
                "ec72383e4a92323d"
            ]
        ]
    },
    {
        "id": "50ec5eca463d6442",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "8f971de6d5bdf551",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Boiler",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 2320,
        "wires": [
            [
                "f9d89e43aac254b7",
                "ec72383e4a92323d"
            ]
        ]
    },
    {
        "id": "e79265af6f98da10",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room5 Boiler",
        "info": "",
        "x": 210,
        "y": 2180,
        "wires": []
    },
    {
        "id": "ffed68070626a58a",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "8f971de6d5bdf551",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Chiller",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 2540,
        "wires": [
            [
                "b4456e707684bd97",
                "5cbbf40176595f2e"
            ]
        ]
    },
    {
        "id": "634f93bc67b9af94",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "8f971de6d5bdf551",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Chiller",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 2600,
        "wires": [
            [
                "b4456e707684bd97",
                "5cbbf40176595f2e"
            ]
        ]
    },
    {
        "id": "f9c08993e6d9c8d1",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room5 Chiller",
        "info": "",
        "x": 230,
        "y": 2460,
        "wires": []
    },
    {
        "id": "3ff83e1a7472946d",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "8f971de6d5bdf551",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable ahu",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 2780,
        "wires": [
            [
                "bca37d9bfa255bef",
                "6f2f2740be203cd4"
            ]
        ]
    },
    {
        "id": "1afe6c47eb91f7e6",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "8f971de6d5bdf551",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable ahu",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 2840,
        "wires": [
            [
                "bca37d9bfa255bef",
                "6f2f2740be203cd4"
            ]
        ]
    },
    {
        "id": "0ea5b4a381569482",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room5 ahu",
        "info": "",
        "x": 230,
        "y": 2700,
        "wires": []
    },
    {
        "id": "876a96d168f327b0",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "26f3359fbee5f225",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 2980,
        "wires": [
            [
                "59dfef01282fab84",
                "869b90c3042f77ac"
            ]
        ]
    },
    {
        "id": "c44379223f0fbff9",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "26f3359fbee5f225",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 3040,
        "wires": [
            [
                "59dfef01282fab84",
                "869b90c3042f77ac"
            ]
        ]
    },
    {
        "id": "44b2e5af72c9dab1",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room6 Lights",
        "info": "",
        "x": 230,
        "y": 2920,
        "wires": []
    },
    {
        "id": "4b7933d859df4c0a",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "0ec8c9da99abbbf9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 3180,
        "wires": [
            [
                "a145adb3b32a1f90",
                "d8b9cd587c26c949"
            ]
        ]
    },
    {
        "id": "0b865a70bd71a013",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "0ec8c9da99abbbf9",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 3240,
        "wires": [
            [
                "a145adb3b32a1f90",
                "d8b9cd587c26c949"
            ]
        ]
    },
    {
        "id": "681319864d6619a8",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room7 Lights",
        "info": "",
        "x": 230,
        "y": 3100,
        "wires": []
    },
    {
        "id": "12db350793b6ecbb",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "26f3359fbee5f225",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable ahu",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 3380,
        "wires": [
            [
                "a5f062e4577a95a0",
                "a5560c9149920164"
            ]
        ]
    },
    {
        "id": "4efbf1a4213d5041",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "26f3359fbee5f225",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable ahu",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 3440,
        "wires": [
            [
                "a5f062e4577a95a0",
                "a5560c9149920164"
            ]
        ]
    },
    {
        "id": "0f33c34531c2dc61",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room6 ahu",
        "info": "",
        "x": 230,
        "y": 3320,
        "wires": []
    },
    {
        "id": "3e64cc014ba5511c",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "0ec8c9da99abbbf9",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable ahu",
        "tooltip": "",
        "color": "blue",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 3560,
        "wires": [
            [
                "f8c56461e392c646",
                "25cf1bbfb25624c1"
            ]
        ]
    },
    {
        "id": "214bb9d50954df0f",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "0ec8c9da99abbbf9",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable ahu",
        "tooltip": "",
        "color": "red",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 3620,
        "wires": [
            [
                "f8c56461e392c646",
                "25cf1bbfb25624c1"
            ]
        ]
    },
    {
        "id": "eead689e24d55f12",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room7 ahu",
        "info": "",
        "x": 230,
        "y": 3500,
        "wires": []
    },
    {
        "id": "d4a05b1b93ccb595",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "b340a6eafc75f2a1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 3800,
        "wires": [
            [
                "dfb9643c7e4741ab",
                "934956a2a141262a"
            ]
        ]
    },
    {
        "id": "7801fe734e22d93f",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "b340a6eafc75f2a1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Lights",
        "tooltip": "",
        "color": "red",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 3860,
        "wires": [
            [
                "dfb9643c7e4741ab",
                "934956a2a141262a"
            ]
        ]
    },
    {
        "id": "5434e6eb43b4d2b5",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room8 Lights",
        "info": "",
        "x": 230,
        "y": 3740,
        "wires": []
    },
    {
        "id": "bc2e0a6db85439b5",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "b340a6eafc75f2a1",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable ahu",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 4020,
        "wires": [
            [
                "ae4f420c0dce1845",
                "7ec415a819d78e76"
            ]
        ]
    },
    {
        "id": "58410f92bd0ec175",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "b340a6eafc75f2a1",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable ahu",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 4080,
        "wires": [
            [
                "ae4f420c0dce1845",
                "7ec415a819d78e76"
            ]
        ]
    },
    {
        "id": "dbd4c6f51ab02136",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room8 ahu",
        "info": "",
        "x": 250,
        "y": 3960,
        "wires": []
    },
    {
        "id": "cccfe7f60ca6a087",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "7c1f1b55a24d9998",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 4220,
        "wires": [
            [
                "cb4f9f2a0daeac57",
                "9b16f550dbf97c7c"
            ]
        ]
    },
    {
        "id": "6e7f927f3b459b71",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "7c1f1b55a24d9998",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 4280,
        "wires": [
            [
                "cb4f9f2a0daeac57",
                "9b16f550dbf97c7c"
            ]
        ]
    },
    {
        "id": "177f75fc13d5be24",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room9 Lights",
        "info": "",
        "x": 250,
        "y": 4140,
        "wires": []
    },
    {
        "id": "705389653dae9ad5",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "7c1f1b55a24d9998",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable ahu",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 4440,
        "wires": [
            [
                "63f76de0e9243464",
                "e3208558d0c3531d"
            ]
        ]
    },
    {
        "id": "2f0c0ca5021876b1",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "7c1f1b55a24d9998",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable ahu",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 4500,
        "wires": [
            [
                "63f76de0e9243464",
                "e3208558d0c3531d"
            ]
        ]
    },
    {
        "id": "fb80eeb7b73384ee",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "d6684f3de162e094",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"state\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 4660,
        "wires": [
            [
                "aa2d908c15bfb2d6",
                "8620404f0b5f0e73"
            ]
        ]
    },
    {
        "id": "40a4a3c8dc099866",
        "type": "ui_button",
        "z": "adb84a08a7cd7a9c",
        "name": "",
        "group": "d6684f3de162e094",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disable Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 4720,
        "wires": [
            [
                "aa2d908c15bfb2d6",
                "8620404f0b5f0e73"
            ]
        ]
    },
    {
        "id": "c02243452f8b89d2",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room9 ahu",
        "info": "",
        "x": 250,
        "y": 4360,
        "wires": []
    },
    {
        "id": "02766e791b9bebf7",
        "type": "comment",
        "z": "adb84a08a7cd7a9c",
        "name": "Room10 Light",
        "info": "",
        "x": 250,
        "y": 4580,
        "wires": []
    },
    {
        "id": "c03a3d538d73fd86",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 5,
        "group": "234998a8758b6cb7",
        "width": "0",
        "height": "0",
        "label": "Lights",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "c39f8b929074a786",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 5,
        "group": "618d83d2cafcb0a5",
        "width": "0",
        "height": "0",
        "label": "Lights",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 410,
        "y": 300,
        "wires": []
    },
    {
        "id": "85f053fcd82354e4",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 4,
        "group": "7c352b25f0253769",
        "width": 0,
        "height": 0,
        "label": "Lights",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 410,
        "y": 520,
        "wires": []
    },
    {
        "id": "74e8a1aaa6467d78",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 8,
        "group": "7c352b25f0253769",
        "width": 0,
        "height": 0,
        "label": "Boiler",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 410,
        "y": 700,
        "wires": []
    },
    {
        "id": "f9ef27e42d9564fd",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 12,
        "group": "7c352b25f0253769",
        "width": 0,
        "height": 0,
        "label": "Chiller",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 920,
        "wires": []
    },
    {
        "id": "269aa5fbe005d2c3",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 16,
        "group": "7c352b25f0253769",
        "width": 0,
        "height": 0,
        "label": "ahu",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 430,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f819229e83553ad5",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 4,
        "group": "1b5ebca9399a4393",
        "width": 0,
        "height": 0,
        "label": "Lights",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 410,
        "y": 1280,
        "wires": []
    },
    {
        "id": "2c91df85adb89fd3",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 8,
        "group": "1b5ebca9399a4393",
        "width": 0,
        "height": 0,
        "label": "ahu",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 1480,
        "wires": []
    },
    {
        "id": "d3a1ee5f0d7e3abf",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 4,
        "group": "8752e3a43f8c748a",
        "width": 0,
        "height": 0,
        "label": "Lights",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 1680,
        "wires": []
    },
    {
        "id": "416bf3d3cd72f3cd",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 4,
        "group": "8f971de6d5bdf551",
        "width": 0,
        "height": 0,
        "label": "Lights",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 430,
        "y": 1900,
        "wires": []
    },
    {
        "id": "ec72383e4a92323d",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 9,
        "group": "8f971de6d5bdf551",
        "width": 0,
        "height": 0,
        "label": "Boiler",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 430,
        "y": 2140,
        "wires": []
    },
    {
        "id": "5cbbf40176595f2e",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 12,
        "group": "8f971de6d5bdf551",
        "width": 0,
        "height": 0,
        "label": "Chiller",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 448,
        "y": 2411,
        "wires": []
    },
    {
        "id": "6f2f2740be203cd4",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 16,
        "group": "8f971de6d5bdf551",
        "width": 0,
        "height": 0,
        "label": "ahu",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 430,
        "y": 2660,
        "wires": []
    },
    {
        "id": "869b90c3042f77ac",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 4,
        "group": "26f3359fbee5f225",
        "width": 0,
        "height": 0,
        "label": "Lights",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 430,
        "y": 2880,
        "wires": []
    },
    {
        "id": "d8b9cd587c26c949",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 4,
        "group": "0ec8c9da99abbbf9",
        "width": 0,
        "height": 0,
        "label": "Lights",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 430,
        "y": 3080,
        "wires": []
    },
    {
        "id": "a5560c9149920164",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 8,
        "group": "26f3359fbee5f225",
        "width": 0,
        "height": 0,
        "label": "ahu",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 3280,
        "wires": []
    },
    {
        "id": "25cf1bbfb25624c1",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 8,
        "group": "0ec8c9da99abbbf9",
        "width": 0,
        "height": 0,
        "label": "ahu",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 430,
        "y": 3460,
        "wires": []
    },
    {
        "id": "934956a2a141262a",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 4,
        "group": "b340a6eafc75f2a1",
        "width": 0,
        "height": 0,
        "label": "Lights",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 3700,
        "wires": []
    },
    {
        "id": "7ec415a819d78e76",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 8,
        "group": "b340a6eafc75f2a1",
        "width": 0,
        "height": 0,
        "label": "ahu",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 470,
        "y": 3920,
        "wires": []
    },
    {
        "id": "9b16f550dbf97c7c",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 4,
        "group": "7c1f1b55a24d9998",
        "width": 0,
        "height": 0,
        "label": "Lights",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 470,
        "y": 4120,
        "wires": []
    },
    {
        "id": "e3208558d0c3531d",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 8,
        "group": "7c1f1b55a24d9998",
        "width": 0,
        "height": 0,
        "label": "ahu",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 4340,
        "wires": []
    },
    {
        "id": "8620404f0b5f0e73",
        "type": "ui_led",
        "z": "adb84a08a7cd7a9c",
        "order": 4,
        "group": "d6684f3de162e094",
        "width": 0,
        "height": 0,
        "label": "Lights",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"state\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"state\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 470,
        "y": 4540,
        "wires": []
    },
    {
        "id": "6907fac1fd0c0b82",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "980e96c4811e70a0",
        "order": 1,
        "width": "6",
        "height": "1"
    },
    {
        "id": "dd8ca5534cae17ca",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "234998a8758b6cb7",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "29f7bece9c039c60",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "618d83d2cafcb0a5",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "6addddd5d6c08f6f",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "7c352b25f0253769",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "495e94e2a241c798",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "7c352b25f0253769",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "c81098129475b842",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "7c352b25f0253769",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "ed291b166d818a31",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "7c352b25f0253769",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "ac6c6a5ffc4b67a1",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "1b5ebca9399a4393",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "76b173071b028aad",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "1b5ebca9399a4393",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "56045c00b0261ba5",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "8752e3a43f8c748a",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "b476a35209143f9f",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "8f971de6d5bdf551",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "c7e79accbb6b0f4c",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "8f971de6d5bdf551",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "4fcdc3a7edccc759",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "8f971de6d5bdf551",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "5b64afb32f68bc4c",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "8f971de6d5bdf551",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "50bd70279ed96798",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "26f3359fbee5f225",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "9a691f774969cb64",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "26f3359fbee5f225",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "bd3c1c5429305d18",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "0ec8c9da99abbbf9",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "9cae9d519dd0b787",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "26f3359fbee5f225",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "82602ab10c77b808",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "0ec8c9da99abbbf9",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "5753d4991d8601c9",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "b340a6eafc75f2a1",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "d40ced8982f59aec",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "b340a6eafc75f2a1",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "9f24bde18f51aad2",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "7c1f1b55a24d9998",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "6a460db596e08662",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "7c1f1b55a24d9998",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "9ec627c5b43e73c6",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "7c1f1b55a24d9998",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "ddb92b2022c477b1",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "d6684f3de162e094",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "2b67f33b17c2a32e",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "79951e3b97c07a0b",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "794569bea73263ba",
        "type": "ui_spacer",
        "z": "adb84a08a7cd7a9c",
        "name": "spacer",
        "group": "79951e3b97c07a0b",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "fcfecd717798b8b6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.40.18.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "234998a8758b6cb7",
        "type": "ui_group",
        "name": "Room 0",
        "tab": "1df1a98a09979f8c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "618d83d2cafcb0a5",
        "type": "ui_group",
        "name": "Room 1",
        "tab": "1df1a98a09979f8c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c352b25f0253769",
        "type": "ui_group",
        "name": "Room 2",
        "tab": "1df1a98a09979f8c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b5ebca9399a4393",
        "type": "ui_group",
        "name": "Room 3",
        "tab": "1df1a98a09979f8c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8752e3a43f8c748a",
        "type": "ui_group",
        "name": "Room 4",
        "tab": "1df1a98a09979f8c",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f971de6d5bdf551",
        "type": "ui_group",
        "name": "Room 5",
        "tab": "1df1a98a09979f8c",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "26f3359fbee5f225",
        "type": "ui_group",
        "name": "Room 6",
        "tab": "1df1a98a09979f8c",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ec8c9da99abbbf9",
        "type": "ui_group",
        "name": "Room 7",
        "tab": "1df1a98a09979f8c",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b340a6eafc75f2a1",
        "type": "ui_group",
        "name": "Room 8",
        "tab": "1df1a98a09979f8c",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c1f1b55a24d9998",
        "type": "ui_group",
        "name": "Room 9",
        "tab": "1df1a98a09979f8c",
        "order": 11,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6684f3de162e094",
        "type": "ui_group",
        "name": "Room 10",
        "tab": "1df1a98a09979f8c",
        "order": 12,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "980e96c4811e70a0",
        "type": "ui_group",
        "name": "Room 0",
        "tab": "5261e6d345108920",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1df1a98a09979f8c",
        "type": "ui_tab",
        "name": "Connection",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5261e6d345108920",
        "type": "ui_tab",
        "name": "Floor 0",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]