Group_D/nodered/power_floor0_topics.json
[
    {
        "id": "3d3daf84d823081a",
        "type": "tab",
        "label": "floor0 power",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd7e82c6c769d1a8",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room0,power",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "78",
        "payloadType": "json",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "27fcc0e8c0d7e364"
            ]
        ]
    },
    {
        "id": "27fcc0e8c0d7e364",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room0/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "75b89c06ac93d13e",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room1,power",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "56",
        "payloadType": "json",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "8ea3fbab68d57114"
            ]
        ]
    },
    {
        "id": "8ea3fbab68d57114",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room1/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "1547b297abd87a80",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room2,power",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "632ecd64d0083499"
            ]
        ]
    },
    {
        "id": "632ecd64d0083499",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "4274e8fa0c6aa43e",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room3,power",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "905e9e77a77ae3bc"
            ]
        ]
    },
    {
        "id": "905e9e77a77ae3bc",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "9a461dce915e90c3",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room4,power",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "8c38c289b322b580"
            ]
        ]
    },
    {
        "id": "8c38c289b322b580",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room4/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "675ac004730781e1",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room5,power",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "476617de1abd1c55"
            ]
        ]
    },
    {
        "id": "476617de1abd1c55",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "a6ffc08549315d9c",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room6,power",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "979a5ae07204811a"
            ]
        ]
    },
    {
        "id": "979a5ae07204811a",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "b7ea744d6c6db1da",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room7,power",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "6be2e7bfc92b1844"
            ]
        ]
    },
    {
        "id": "6be2e7bfc92b1844",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 480,
        "wires": []
    },
    {
        "id": "498a8d42f3e4937d",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room8,power",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "90",
        "payloadType": "json",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "d4bfb3830e7948aa"
            ]
        ]
    },
    {
        "id": "d4bfb3830e7948aa",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/power",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "3bc2bfd5752ee774",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room9,power",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "68",
        "payloadType": "json",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "f8c6b5ad881eca1f"
            ]
        ]
    },
    {
        "id": "f8c6b5ad881eca1f",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 600,
        "wires": []
    },
    {
        "id": "f93f8ce9bb3c952d",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room10,power",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "19",
        "payloadType": "json",
        "x": 210,
        "y": 660,
        "wires": [
            [
                "85eea54cf3a4d2b2"
            ]
        ]
    },
    {
        "id": "85eea54cf3a4d2b2",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room10/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 660,
        "wires": []
    },
    {
        "id": "09ad84fbbe55e6f5",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room2,AHU",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "540418fda4be43f7"
            ]
        ]
    },
    {
        "id": "540418fda4be43f7",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 720,
        "wires": []
    },
    {
        "id": "0fa9618f8fbad3fe",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room3,AHU",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 210,
        "y": 760,
        "wires": [
            [
                "e569053b5462e05c"
            ]
        ]
    },
    {
        "id": "e569053b5462e05c",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 760,
        "wires": []
    },
    {
        "id": "88ed60c4b416751e",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room5,AHU",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 210,
        "y": 800,
        "wires": [
            [
                "292a2045814286f9"
            ]
        ]
    },
    {
        "id": "292a2045814286f9",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 800,
        "wires": []
    },
    {
        "id": "9598b5f9ae3af92c",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room6,AHU",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 210,
        "y": 840,
        "wires": [
            [
                "f5a852a44f8aa56b"
            ]
        ]
    },
    {
        "id": "f5a852a44f8aa56b",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 840,
        "wires": []
    },
    {
        "id": "4660d8f0fbc195b7",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room7,AHU",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 210,
        "y": 880,
        "wires": [
            [
                "52f3a3f0680807ca"
            ]
        ]
    },
    {
        "id": "52f3a3f0680807ca",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 880,
        "wires": []
    },
    {
        "id": "e7d4ba6a4d49e6ac",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room8,AHU",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 210,
        "y": 920,
        "wires": [
            [
                "b4810617613fbb4a"
            ]
        ]
    },
    {
        "id": "254f62c4affe3be4",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room9,AHU",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "json",
        "x": 210,
        "y": 980,
        "wires": [
            [
                "51f03dfe334a622c"
            ]
        ]
    },
    {
        "id": "b4810617613fbb4a",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 920,
        "wires": []
    },
    {
        "id": "51f03dfe334a622c",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 980,
        "wires": []
    },
    {
        "id": "3185569baedf6eb6",
        "type": "comment",
        "z": "3d3daf84d823081a",
        "name": "MQTT publish nodes",
        "info": "",
        "x": 410,
        "y": 20,
        "wires": []
    },
    {
        "id": "502e35c1c65ac934",
        "type": "comment",
        "z": "3d3daf84d823081a",
        "name": "MQTT subscribe nodes",
        "info": "",
        "x": 720,
        "y": 1100,
        "wires": []
    },
    {
        "id": "dc6271328f5fbe78",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room0/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1200,
        "wires": [
            [
                "35403c041f6056f8"
            ]
        ]
    },
    {
        "id": "b98757182a6cb0fa",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "27fcc0e8c0d7e364"
        ],
        "x": 500,
        "y": 1140,
        "wires": [
            [
                "35403c041f6056f8"
            ]
        ]
    },
    {
        "id": "35403c041f6056f8",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1200,
        "wires": []
    },
    {
        "id": "07da25d718e50343",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room1/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1280,
        "wires": [
            [
                "15610c264c58e406"
            ]
        ]
    },
    {
        "id": "f5c834655dd3abc3",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "8ea3fbab68d57114"
        ],
        "x": 500,
        "y": 1240,
        "wires": [
            [
                "15610c264c58e406"
            ]
        ]
    },
    {
        "id": "15610c264c58e406",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1280,
        "wires": []
    },
    {
        "id": "e5b83d28bba49ef1",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1360,
        "wires": [
            [
                "05099fcbcda1aa02"
            ]
        ]
    },
    {
        "id": "d34a72ae50510eaf",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "632ecd64d0083499"
        ],
        "x": 520,
        "y": 1320,
        "wires": [
            [
                "05099fcbcda1aa02"
            ]
        ]
    },
    {
        "id": "05099fcbcda1aa02",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1360,
        "wires": []
    },
    {
        "id": "99aff45f26d68328",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1440,
        "wires": [
            [
                "813c5a4d1516a3e1"
            ]
        ]
    },
    {
        "id": "758a840ae4710fa0",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "905e9e77a77ae3bc"
        ],
        "x": 540,
        "y": 1400,
        "wires": [
            [
                "813c5a4d1516a3e1"
            ]
        ]
    },
    {
        "id": "813c5a4d1516a3e1",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1440,
        "wires": []
    },
    {
        "id": "3caae9f8e080816b",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room4/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1500,
        "wires": [
            [
                "aaf2b26bfc7d85c6"
            ]
        ]
    },
    {
        "id": "1f8091b5673a0cb1",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "8c38c289b322b580"
        ],
        "x": 560,
        "y": 1480,
        "wires": [
            [
                "aaf2b26bfc7d85c6"
            ]
        ]
    },
    {
        "id": "aaf2b26bfc7d85c6",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1500,
        "wires": []
    },
    {
        "id": "a0d182f5978b7bba",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1560,
        "wires": [
            [
                "aab2541d73840b38"
            ]
        ]
    },
    {
        "id": "f3504ffea0dea152",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "476617de1abd1c55"
        ],
        "x": 560,
        "y": 1540,
        "wires": [
            [
                "aab2541d73840b38"
            ]
        ]
    },
    {
        "id": "aab2541d73840b38",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1580,
        "wires": []
    },
    {
        "id": "a879999ebfa37ac8",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1680,
        "wires": [
            [
                "2288b373f6de1e5c"
            ]
        ]
    },
    {
        "id": "fea8d10ff89212dd",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "979a5ae07204811a"
        ],
        "x": 560,
        "y": 1620,
        "wires": [
            [
                "2288b373f6de1e5c"
            ]
        ]
    },
    {
        "id": "2288b373f6de1e5c",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1660,
        "wires": []
    },
    {
        "id": "2a78a58dcdd1b05c",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 1740,
        "wires": [
            [
                "aee1cdc093a2195e"
            ]
        ]
    },
    {
        "id": "7485d558af1d0c4a",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "6be2e7bfc92b1844"
        ],
        "x": 600,
        "y": 1720,
        "wires": [
            [
                "aee1cdc093a2195e"
            ]
        ]
    },
    {
        "id": "aee1cdc093a2195e",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1780,
        "wires": []
    },
    {
        "id": "c5c5f09496bd3765",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1880,
        "wires": [
            [
                "74b333c44a91f9c7"
            ]
        ]
    },
    {
        "id": "bec247041654550c",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "d4bfb3830e7948aa"
        ],
        "x": 560,
        "y": 1820,
        "wires": [
            [
                "74b333c44a91f9c7"
            ]
        ]
    },
    {
        "id": "74b333c44a91f9c7",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1860,
        "wires": []
    },
    {
        "id": "4f2be5534aabd25d",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1940,
        "wires": [
            [
                "b87a04f73dded974"
            ]
        ]
    },
    {
        "id": "8ccbed06227d5e2e",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "f8c6b5ad881eca1f"
        ],
        "x": 580,
        "y": 1900,
        "wires": [
            [
                "b87a04f73dded974"
            ]
        ]
    },
    {
        "id": "b87a04f73dded974",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1940,
        "wires": []
    },
    {
        "id": "636c1f85f8c2baa1",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room10/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 2040,
        "wires": [
            [
                "9424b671f5574184"
            ]
        ]
    },
    {
        "id": "c62631a2c90be9b3",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "85eea54cf3a4d2b2"
        ],
        "x": 580,
        "y": 1980,
        "wires": [
            [
                "9424b671f5574184"
            ]
        ]
    },
    {
        "id": "9424b671f5574184",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 2040,
        "wires": []
    },
    {
        "id": "5de308d8a27dab0c",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/ahu/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 2120,
        "wires": [
            [
                "bd02907678e1b53c"
            ]
        ]
    },
    {
        "id": "e3e9c49d0cd520c2",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "540418fda4be43f7"
        ],
        "x": 600,
        "y": 2080,
        "wires": [
            [
                "bd02907678e1b53c"
            ]
        ]
    },
    {
        "id": "bd02907678e1b53c",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 2120,
        "wires": []
    },
    {
        "id": "280c5ac023be3b66",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/ahu/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 2200,
        "wires": [
            [
                "e28306d6f1383239"
            ]
        ]
    },
    {
        "id": "87cdd18f4de43097",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "e569053b5462e05c"
        ],
        "x": 600,
        "y": 2160,
        "wires": [
            [
                "e28306d6f1383239"
            ]
        ]
    },
    {
        "id": "e28306d6f1383239",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 2200,
        "wires": []
    },
    {
        "id": "f7f863701970f492",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/ahu/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 2260,
        "wires": [
            [
                "1aeb4e5ad6e65ec9"
            ]
        ]
    },
    {
        "id": "7791db6827956744",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "292a2045814286f9"
        ],
        "x": 600,
        "y": 2220,
        "wires": [
            [
                "1aeb4e5ad6e65ec9"
            ]
        ]
    },
    {
        "id": "1aeb4e5ad6e65ec9",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 2260,
        "wires": []
    },
    {
        "id": "c8ed2fbac4ead9eb",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/ahu/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 2340,
        "wires": [
            [
                "790b5007ae56d3b7"
            ]
        ]
    },
    {
        "id": "771538062322e244",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "f5a852a44f8aa56b"
        ],
        "x": 600,
        "y": 2300,
        "wires": [
            [
                "790b5007ae56d3b7"
            ]
        ]
    },
    {
        "id": "790b5007ae56d3b7",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 2340,
        "wires": []
    },
    {
        "id": "8ffe03b73a4607e7",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energ/floor0/room7/ahu/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 2420,
        "wires": [
            [
                "7238c71e665b6376"
            ]
        ]
    },
    {
        "id": "0d5c08a2d5fafe9e",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "52f3a3f0680807ca"
        ],
        "x": 560,
        "y": 2380,
        "wires": [
            [
                "7238c71e665b6376"
            ]
        ]
    },
    {
        "id": "7238c71e665b6376",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 2420,
        "wires": []
    },
    {
        "id": "f53534630d748052",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/ahu/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 2500,
        "wires": [
            [
                "d89c7cc1d501cecc"
            ]
        ]
    },
    {
        "id": "a41684fb9a37cc80",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "b4810617613fbb4a"
        ],
        "x": 560,
        "y": 2460,
        "wires": [
            [
                "d89c7cc1d501cecc"
            ]
        ]
    },
    {
        "id": "d89c7cc1d501cecc",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 2500,
        "wires": []
    },
    {
        "id": "092945bacfb32871",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/ahu/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 2580,
        "wires": [
            [
                "b82304c0ebac171a"
            ]
        ]
    },
    {
        "id": "0c2ac8330b1e303c",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "f8c6b5ad881eca1f"
        ],
        "x": 600,
        "y": 2540,
        "wires": [
            [
                "b82304c0ebac171a"
            ]
        ]
    },
    {
        "id": "b82304c0ebac171a",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 2580,
        "wires": []
    },
    {
        "id": "807d470d685f57ea",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room2,boiler",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "json",
        "x": 990,
        "y": 60,
        "wires": [
            [
                "cea205929a824ddd"
            ]
        ]
    },
    {
        "id": "cea205929a824ddd",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/b/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 60,
        "wires": []
    },
    {
        "id": "e8249170421f6787",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room2,chiller",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 990,
        "y": 120,
        "wires": [
            [
                "28804af5228c6bf6"
            ]
        ]
    },
    {
        "id": "28804af5228c6bf6",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/c/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 120,
        "wires": []
    },
    {
        "id": "62e27f9c148ffeaf",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room5,boiler",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 990,
        "y": 180,
        "wires": [
            [
                "a39cc4587d5bc91c"
            ]
        ]
    },
    {
        "id": "a39cc4587d5bc91c",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/b/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 180,
        "wires": []
    },
    {
        "id": "579e19d76fc3141a",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room5,chiller",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 990,
        "y": 240,
        "wires": [
            [
                "854428b949a9c00a"
            ]
        ]
    },
    {
        "id": "854428b949a9c00a",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/c/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 240,
        "wires": []
    },
    {
        "id": "a98cb64063ad6985",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/b/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 2680,
        "wires": [
            [
                "161c30a6b4efef8e"
            ]
        ]
    },
    {
        "id": "27f7d28d48ad076a",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "a98cb64063ad6985"
        ],
        "x": 580,
        "y": 2640,
        "wires": [
            [
                "161c30a6b4efef8e"
            ]
        ]
    },
    {
        "id": "161c30a6b4efef8e",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 2680,
        "wires": []
    },
    {
        "id": "bfb68b3cfec837fc",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/c/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 2760,
        "wires": [
            [
                "287468d3b098b1b3"
            ]
        ]
    },
    {
        "id": "bc3afd21df255b3b",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "bfb68b3cfec837fc"
        ],
        "x": 540,
        "y": 2720,
        "wires": [
            [
                "287468d3b098b1b3"
            ]
        ]
    },
    {
        "id": "287468d3b098b1b3",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 2760,
        "wires": []
    },
    {
        "id": "80c5dd59972fdfb3",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/b/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 2860,
        "wires": [
            [
                "84568d9d5d21840a"
            ]
        ]
    },
    {
        "id": "2d457c8b44a6f384",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "80c5dd59972fdfb3"
        ],
        "x": 560,
        "y": 2820,
        "wires": [
            [
                "84568d9d5d21840a"
            ]
        ]
    },
    {
        "id": "84568d9d5d21840a",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 2860,
        "wires": []
    },
    {
        "id": "e9e52d7b348c9e69",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/c/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 2920,
        "wires": [
            [
                "d868a805c802c697"
            ]
        ]
    },
    {
        "id": "58fb8906a36ce0d6",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "e9e52d7b348c9e69"
        ],
        "x": 540,
        "y": 2900,
        "wires": [
            [
                "d868a805c802c697"
            ]
        ]
    },
    {
        "id": "d868a805c802c697",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 2920,
        "wires": []
    },
    {
        "id": "52be858e296f3561",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room0,lights",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 990,
        "y": 300,
        "wires": [
            [
                "0e3915213f5f908b"
            ]
        ]
    },
    {
        "id": "0e3915213f5f908b",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room0/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 300,
        "wires": []
    },
    {
        "id": "cf712c6b471854bd",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room1,lights",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 990,
        "y": 360,
        "wires": [
            [
                "15558e563f90073e"
            ]
        ]
    },
    {
        "id": "15558e563f90073e",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room1/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 360,
        "wires": []
    },
    {
        "id": "4d036767f39a5894",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room2,lights",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 990,
        "y": 420,
        "wires": [
            [
                "be37fe5117212c4a"
            ]
        ]
    },
    {
        "id": "be37fe5117212c4a",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 420,
        "wires": []
    },
    {
        "id": "368753450a04b2fc",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room3,lights",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 990,
        "y": 460,
        "wires": [
            [
                "7f75359b0f3d1453"
            ]
        ]
    },
    {
        "id": "7f75359b0f3d1453",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 460,
        "wires": []
    },
    {
        "id": "50713234cc9a9098",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room4,lights",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 990,
        "y": 500,
        "wires": [
            [
                "bc36ae7ef6c2f096"
            ]
        ]
    },
    {
        "id": "bc36ae7ef6c2f096",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room4/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 500,
        "wires": []
    },
    {
        "id": "18fbdacecb45b37b",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room5,lights",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 990,
        "y": 560,
        "wires": [
            [
                "d2c0bc243aa90245"
            ]
        ]
    },
    {
        "id": "d2c0bc243aa90245",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 560,
        "wires": []
    },
    {
        "id": "bc85ac335b573443",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room6,lights",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 990,
        "y": 620,
        "wires": [
            [
                "5aab758622c94050"
            ]
        ]
    },
    {
        "id": "5aab758622c94050",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 620,
        "wires": []
    },
    {
        "id": "a8ee278d409cb131",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room7,lights",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "json",
        "x": 990,
        "y": 680,
        "wires": [
            [
                "de2c2127c31cf163"
            ]
        ]
    },
    {
        "id": "de2c2127c31cf163",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 680,
        "wires": []
    },
    {
        "id": "d1f07aa7c03929a1",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room8,lights",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 990,
        "y": 740,
        "wires": [
            [
                "6066e4904fd991b7"
            ]
        ]
    },
    {
        "id": "6066e4904fd991b7",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 740,
        "wires": []
    },
    {
        "id": "da0add23937bec68",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room9,lights",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 991.8463134765625,
        "y": 801.0103759765625,
        "wires": [
            [
                "f62ea01fa562bb4e"
            ]
        ]
    },
    {
        "id": "f62ea01fa562bb4e",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 800,
        "wires": []
    },
    {
        "id": "0d7adeb24c660319",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room10,lights",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 990,
        "y": 860,
        "wires": [
            [
                "97f21a40b65b481e"
            ]
        ]
    },
    {
        "id": "97f21a40b65b481e",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room10/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 860,
        "wires": []
    },
    {
        "id": "b120c6d573974f54",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room0/l/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 3000,
        "wires": [
            [
                "974c925d9e7dc146"
            ]
        ]
    },
    {
        "id": "77349b78119a467f",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "b120c6d573974f54"
        ],
        "x": 520,
        "y": 2980,
        "wires": [
            [
                "974c925d9e7dc146"
            ]
        ]
    },
    {
        "id": "974c925d9e7dc146",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 3000,
        "wires": []
    },
    {
        "id": "183ad1af2a206009",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room1/l/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3080,
        "wires": [
            [
                "4f02aaaa1bd7203f"
            ]
        ]
    },
    {
        "id": "4938868943faf7a2",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "183ad1af2a206009"
        ],
        "x": 500,
        "y": 3060,
        "wires": [
            [
                "4f02aaaa1bd7203f"
            ]
        ]
    },
    {
        "id": "4f02aaaa1bd7203f",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3080,
        "wires": []
    },
    {
        "id": "08febd605c53b4f1",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/l/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3140,
        "wires": [
            [
                "e808ce40d0af18a8"
            ]
        ]
    },
    {
        "id": "c2fd82663b6a0819",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "08febd605c53b4f1"
        ],
        "x": 500,
        "y": 3120,
        "wires": [
            [
                "e808ce40d0af18a8"
            ]
        ]
    },
    {
        "id": "e808ce40d0af18a8",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3140,
        "wires": []
    },
    {
        "id": "2502a3014e0f0d3e",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/l/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3200,
        "wires": [
            [
                "b356e1d4bd179287"
            ]
        ]
    },
    {
        "id": "ddc2ef7c5b70c5e7",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "2502a3014e0f0d3e"
        ],
        "x": 500,
        "y": 3180,
        "wires": [
            [
                "b356e1d4bd179287"
            ]
        ]
    },
    {
        "id": "b356e1d4bd179287",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3200,
        "wires": []
    },
    {
        "id": "3ec1ba0f51bd66f1",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room4/l/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3260,
        "wires": [
            [
                "710905d93b23c7bf"
            ]
        ]
    },
    {
        "id": "284d1c34df21c21e",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "3ec1ba0f51bd66f1"
        ],
        "x": 500,
        "y": 3240,
        "wires": [
            [
                "710905d93b23c7bf"
            ]
        ]
    },
    {
        "id": "710905d93b23c7bf",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3260,
        "wires": []
    },
    {
        "id": "70c77d2ee5bfc473",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/l/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 218.01303100585938,
        "y": 3326.01025390625,
        "wires": [
            [
                "a925d34b71ef26c1"
            ]
        ]
    },
    {
        "id": "d9bef2873d8ba55c",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "70c77d2ee5bfc473"
        ],
        "x": 480,
        "y": 3300,
        "wires": [
            [
                "a925d34b71ef26c1"
            ]
        ]
    },
    {
        "id": "a925d34b71ef26c1",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 3320,
        "wires": []
    },
    {
        "id": "90f085815781cf9f",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/l/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3400,
        "wires": [
            [
                "e3599f37d79ac6d3"
            ]
        ]
    },
    {
        "id": "17d1742d07d8014b",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "90f085815781cf9f"
        ],
        "x": 500,
        "y": 3380,
        "wires": [
            [
                "e3599f37d79ac6d3"
            ]
        ]
    },
    {
        "id": "e3599f37d79ac6d3",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3400,
        "wires": []
    },
    {
        "id": "8f95c8b062923f7c",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/l/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3480,
        "wires": [
            [
                "1f9c0f5f7f98a3a3"
            ]
        ]
    },
    {
        "id": "5965a8c36b16a5e6",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "8f95c8b062923f7c"
        ],
        "x": 500,
        "y": 3460,
        "wires": [
            [
                "1f9c0f5f7f98a3a3"
            ]
        ]
    },
    {
        "id": "1f9c0f5f7f98a3a3",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3480,
        "wires": []
    },
    {
        "id": "f01b4bb473fa8c4e",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/l/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3540,
        "wires": [
            [
                "fe894a173f3098e4"
            ]
        ]
    },
    {
        "id": "9da74346563fa5f9",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "f01b4bb473fa8c4e"
        ],
        "x": 500,
        "y": 3520,
        "wires": [
            [
                "fe894a173f3098e4"
            ]
        ]
    },
    {
        "id": "fe894a173f3098e4",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3540,
        "wires": []
    },
    {
        "id": "1c5a0d7bd32f396c",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/l/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3600,
        "wires": [
            [
                "13b9005498ca0645"
            ]
        ]
    },
    {
        "id": "48638f501cc93e4d",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "1c5a0d7bd32f396c"
        ],
        "x": 500,
        "y": 3580,
        "wires": [
            [
                "13b9005498ca0645"
            ]
        ]
    },
    {
        "id": "13b9005498ca0645",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3600,
        "wires": []
    },
    {
        "id": "70c28ebe34bf0eac",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room10/l/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3680,
        "wires": [
            [
                "20577d190b2a2583"
            ]
        ]
    },
    {
        "id": "edeccd8b5d71a8cf",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "70c28ebe34bf0eac"
        ],
        "x": 500,
        "y": 3660,
        "wires": [
            [
                "20577d190b2a2583"
            ]
        ]
    },
    {
        "id": "20577d190b2a2583",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3680,
        "wires": []
    },
    {
        "id": "98dd48e13275ae77",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room0,lights,essential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 1800,
        "y": 60,
        "wires": [
            [
                "95df6be007c63424"
            ]
        ]
    },
    {
        "id": "95df6be007c63424",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room0/l/essential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2274.4444580078125,
        "y": 61,
        "wires": []
    },
    {
        "id": "f24181cb3e5e3216",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room0,lights/nonessential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"power\":1111}",
        "payloadType": "json",
        "x": 1810,
        "y": 120,
        "wires": [
            [
                "3549a0aadbe33455"
            ]
        ]
    },
    {
        "id": "3549a0aadbe33455",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room0/l/nonessential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2294.4444580078125,
        "y": 121,
        "wires": []
    },
    {
        "id": "ed103b5086fd5313",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room1,lights,essential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 1820,
        "y": 200,
        "wires": [
            [
                "327d5cc646868680"
            ]
        ]
    },
    {
        "id": "327d5cc646868680",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room1/l/essential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2294.4444580078125,
        "y": 201,
        "wires": []
    },
    {
        "id": "fd13cb12a5ebd1ab",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room1,lights/nonessential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 1830,
        "y": 260,
        "wires": [
            [
                "6ddc32b4ae40575c"
            ]
        ]
    },
    {
        "id": "6ddc32b4ae40575c",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room1/l/nonessential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2314.4444580078125,
        "y": 261,
        "wires": []
    },
    {
        "id": "3b41f3d5bf925be0",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room2,lights,essential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 1800,
        "y": 320,
        "wires": [
            [
                "f15fe37ae81de99d"
            ]
        ]
    },
    {
        "id": "f15fe37ae81de99d",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/l/essential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2274.4444580078125,
        "y": 321,
        "wires": []
    },
    {
        "id": "c8536cd2f0693397",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room2,lights/nonessential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 1810,
        "y": 380,
        "wires": [
            [
                "a5ae0ab3c1d712d1"
            ]
        ]
    },
    {
        "id": "a5ae0ab3c1d712d1",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/l/nonessential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2294.4444580078125,
        "y": 381,
        "wires": []
    },
    {
        "id": "9adb2db8f74531f0",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room3,lights,essential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 1845.22216796875,
        "y": 479,
        "wires": [
            [
                "abfa997365748c5c"
            ]
        ]
    },
    {
        "id": "abfa997365748c5c",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/l/essential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2429.6666259765625,
        "y": 480,
        "wires": []
    },
    {
        "id": "92bc330bece5bca0",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room3,lights/nonessential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 1865.22216796875,
        "y": 539,
        "wires": [
            [
                "801885bdbcb47287"
            ]
        ]
    },
    {
        "id": "801885bdbcb47287",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/l/nonessential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2459.6666259765625,
        "y": 540,
        "wires": []
    },
    {
        "id": "61dbf987cb89ae68",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room4,lights,essential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 1800,
        "y": 580,
        "wires": [
            [
                "6f5573dbe0c8eff5"
            ]
        ]
    },
    {
        "id": "6f5573dbe0c8eff5",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room4/l/essential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2274.4444580078125,
        "y": 581,
        "wires": []
    },
    {
        "id": "0e34a61957be4890",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room4,lights/nonessential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 1810,
        "y": 640,
        "wires": [
            [
                "e9927f50dbd027bc"
            ]
        ]
    },
    {
        "id": "e9927f50dbd027bc",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room4/l/nonessential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2294.4444580078125,
        "y": 641,
        "wires": []
    },
    {
        "id": "be91ca29eaa6a106",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room5,lights,essential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 1800,
        "y": 700,
        "wires": [
            [
                "8994741cfbd2155f"
            ]
        ]
    },
    {
        "id": "8994741cfbd2155f",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/l/essential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2274.4444580078125,
        "y": 701,
        "wires": []
    },
    {
        "id": "b7043fce9f9d735e",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room5,lights/nonessential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 1810,
        "y": 760,
        "wires": [
            [
                "9902cc55f47e3537"
            ]
        ]
    },
    {
        "id": "9902cc55f47e3537",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/l/nonessential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2294.4444580078125,
        "y": 761,
        "wires": []
    },
    {
        "id": "fc5fc7cca99a85e6",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room6,lights,essential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 1820,
        "y": 820,
        "wires": [
            [
                "add7254509203f27"
            ]
        ]
    },
    {
        "id": "add7254509203f27",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/l/essential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2294.4444580078125,
        "y": 821,
        "wires": []
    },
    {
        "id": "31a7a715d9e2df2e",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room6,lights/nonessential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 1830,
        "y": 880,
        "wires": [
            [
                "78d570349c89c782"
            ]
        ]
    },
    {
        "id": "78d570349c89c782",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/l/nonessential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 2314.4444580078125,
        "y": 881,
        "wires": []
    },
    {
        "id": "7eb52c3bbda882bf",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room7,lights,essential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 2669.5556640625,
        "y": 69,
        "wires": [
            [
                "c2083ede5bd35198"
            ]
        ]
    },
    {
        "id": "c2083ede5bd35198",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/l/essential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 3254.0001220703125,
        "y": 70,
        "wires": []
    },
    {
        "id": "652b93e984e34918",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room7,lights/nonessential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 2689.5556640625,
        "y": 129,
        "wires": [
            [
                "ef3182521c7089d3"
            ]
        ]
    },
    {
        "id": "ef3182521c7089d3",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/l/nonessential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 3284.0001220703125,
        "y": 130,
        "wires": []
    },
    {
        "id": "85c15732dde77824",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room8,lights,essential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 2702.22216796875,
        "y": 199,
        "wires": [
            [
                "ee985dd01eb59fe5"
            ]
        ]
    },
    {
        "id": "ee985dd01eb59fe5",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/l/essential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 3286.6666259765625,
        "y": 200,
        "wires": []
    },
    {
        "id": "a76f97b64bedf519",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room8,lights/nonessential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 2722.22216796875,
        "y": 259,
        "wires": [
            [
                "19db07bf0482e45a"
            ]
        ]
    },
    {
        "id": "19db07bf0482e45a",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/l/nonessential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 3316.6666259765625,
        "y": 260,
        "wires": []
    },
    {
        "id": "ddc948b2a87c380c",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room9,lights,essential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 2731.111083984375,
        "y": 341,
        "wires": [
            [
                "92f679a18eaaf7c2"
            ]
        ]
    },
    {
        "id": "92f679a18eaaf7c2",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/l/essential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 3315.5555419921875,
        "y": 342,
        "wires": []
    },
    {
        "id": "ac4cad3f414f97f3",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room9,lights/nonessential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 2751.111083984375,
        "y": 401,
        "wires": [
            [
                "0662b7e0bb3e2416"
            ]
        ]
    },
    {
        "id": "0662b7e0bb3e2416",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/l/nonessential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 3345.5555419921875,
        "y": 402,
        "wires": []
    },
    {
        "id": "6c30c1a7ebc60f32",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room10,lights,essential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 2857,
        "y": 476,
        "wires": [
            [
                "80d0a0b702dbd78c"
            ]
        ]
    },
    {
        "id": "80d0a0b702dbd78c",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room10/l/essential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 3441.4444580078125,
        "y": 477,
        "wires": []
    },
    {
        "id": "7c5217e879e05092",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room10,lights/nonessential",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "x": 2877,
        "y": 536,
        "wires": [
            [
                "1b50feca769a4e85"
            ]
        ]
    },
    {
        "id": "1b50feca769a4e85",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room10/l/nonessential/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 3471.4444580078125,
        "y": 537,
        "wires": []
    },
    {
        "id": "574689b47a613aba",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room0/l/essential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 3760,
        "wires": [
            [
                "8ecec84cee48f45c"
            ]
        ]
    },
    {
        "id": "42a27820fba20790",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "95df6be007c63424"
        ],
        "x": 560,
        "y": 3720,
        "wires": [
            [
                "8ecec84cee48f45c"
            ]
        ]
    },
    {
        "id": "8ecec84cee48f45c",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 3760,
        "wires": []
    },
    {
        "id": "ca659bdfeb4c1e37",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room0/l/nonessential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 3840,
        "wires": [
            [
                "8ac7e894da199af6"
            ]
        ]
    },
    {
        "id": "f7b1d42b81bdd7fc",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "3549a0aadbe33455"
        ],
        "x": 580,
        "y": 3800,
        "wires": [
            [
                "8ac7e894da199af6"
            ]
        ]
    },
    {
        "id": "8ac7e894da199af6",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 3840,
        "wires": []
    },
    {
        "id": "7dea81552978ee0d",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room1/l/essential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 3940,
        "wires": [
            [
                "cf3992acd3bd03b9"
            ]
        ]
    },
    {
        "id": "49ea12fe5730f0b9",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "327d5cc646868680"
        ],
        "x": 580,
        "y": 3900,
        "wires": [
            [
                "cf3992acd3bd03b9"
            ]
        ]
    },
    {
        "id": "cf3992acd3bd03b9",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 3940,
        "wires": []
    },
    {
        "id": "108c904a5a808f44",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room1/l/nonessential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 4020,
        "wires": [
            [
                "3711edc1c62b6539"
            ]
        ]
    },
    {
        "id": "d2ce2b22640936f6",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "6ddc32b4ae40575c"
        ],
        "x": 600,
        "y": 3980,
        "wires": [
            [
                "3711edc1c62b6539"
            ]
        ]
    },
    {
        "id": "3711edc1c62b6539",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 4020,
        "wires": []
    },
    {
        "id": "a04a032013f29c7a",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/l/essential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 4100,
        "wires": [
            [
                "89f70695a39f0b7b"
            ]
        ]
    },
    {
        "id": "d457e94ca14395db",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "f15fe37ae81de99d"
        ],
        "x": 600,
        "y": 4060,
        "wires": [
            [
                "89f70695a39f0b7b"
            ]
        ]
    },
    {
        "id": "89f70695a39f0b7b",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 4100,
        "wires": []
    },
    {
        "id": "09bd8422b5cc61be",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/l/nonessential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 4180,
        "wires": [
            [
                "4856596e503db1cf"
            ]
        ]
    },
    {
        "id": "0939a1a928b0db84",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "a5ae0ab3c1d712d1"
        ],
        "x": 620,
        "y": 4140,
        "wires": [
            [
                "4856596e503db1cf"
            ]
        ]
    },
    {
        "id": "4856596e503db1cf",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 4180,
        "wires": []
    },
    {
        "id": "b7b437c00afc305d",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/l/essential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1060,
        "y": 1140,
        "wires": [
            [
                "adb5bb5a924f7dca"
            ]
        ]
    },
    {
        "id": "46d1cf24760f249c",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "abfa997365748c5c"
        ],
        "x": 1380,
        "y": 1100,
        "wires": [
            [
                "adb5bb5a924f7dca"
            ]
        ]
    },
    {
        "id": "adb5bb5a924f7dca",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 1140,
        "wires": []
    },
    {
        "id": "14c55f61d93e5af5",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/l/nonessential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1100,
        "y": 1220,
        "wires": [
            [
                "97c131e5e908d454"
            ]
        ]
    },
    {
        "id": "d5da37979278f33c",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "801885bdbcb47287"
        ],
        "x": 1400,
        "y": 1180,
        "wires": [
            [
                "97c131e5e908d454"
            ]
        ]
    },
    {
        "id": "97c131e5e908d454",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1220,
        "wires": []
    },
    {
        "id": "611d189e2f4d1af4",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room4/l/essential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1120,
        "y": 1300,
        "wires": [
            [
                "31c19f7131372dc6"
            ]
        ]
    },
    {
        "id": "b136257b0898ee2c",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "6f5573dbe0c8eff5"
        ],
        "x": 1440,
        "y": 1260,
        "wires": [
            [
                "31c19f7131372dc6"
            ]
        ]
    },
    {
        "id": "31c19f7131372dc6",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 49",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 1300,
        "wires": []
    },
    {
        "id": "156b12999c4d1adc",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room4/l/nonessential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1160,
        "y": 1380,
        "wires": [
            [
                "d590e92d909f3882"
            ]
        ]
    },
    {
        "id": "e4c3ae969f652b38",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "e9927f50dbd027bc"
        ],
        "x": 1460,
        "y": 1340,
        "wires": [
            [
                "d590e92d909f3882"
            ]
        ]
    },
    {
        "id": "d590e92d909f3882",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 1380,
        "wires": []
    },
    {
        "id": "2ba60b8f730ae2ab",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/l/essential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1160,
        "y": 1460,
        "wires": [
            [
                "cb98a87eeaf010f7"
            ]
        ]
    },
    {
        "id": "30cd6214f4a12b48",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "8994741cfbd2155f"
        ],
        "x": 1480,
        "y": 1420,
        "wires": [
            [
                "cb98a87eeaf010f7"
            ]
        ]
    },
    {
        "id": "cb98a87eeaf010f7",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 51",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 1460,
        "wires": []
    },
    {
        "id": "16914253ae6c4519",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/l/nonessential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1200,
        "y": 1540,
        "wires": [
            [
                "fbe053942686b6fb"
            ]
        ]
    },
    {
        "id": "55e90ed42dd30c71",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "9902cc55f47e3537"
        ],
        "x": 1500,
        "y": 1500,
        "wires": [
            [
                "fbe053942686b6fb"
            ]
        ]
    },
    {
        "id": "fbe053942686b6fb",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 1540,
        "wires": []
    },
    {
        "id": "dbf391f36e95a960",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/l/essential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1180,
        "y": 1620,
        "wires": [
            [
                "29df1c879bcafdc3"
            ]
        ]
    },
    {
        "id": "b7eeb84f707fc381",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "add7254509203f27"
        ],
        "x": 1500,
        "y": 1580,
        "wires": [
            [
                "29df1c879bcafdc3"
            ]
        ]
    },
    {
        "id": "29df1c879bcafdc3",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 53",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 1620,
        "wires": []
    },
    {
        "id": "b93f58e2ed2d32de",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/l/nonessential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 1700,
        "wires": [
            [
                "daa048b44ede29ed"
            ]
        ]
    },
    {
        "id": "e1de16f00965c7ee",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "78d570349c89c782"
        ],
        "x": 1520,
        "y": 1660,
        "wires": [
            [
                "daa048b44ede29ed"
            ]
        ]
    },
    {
        "id": "daa048b44ede29ed",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 1700,
        "wires": []
    },
    {
        "id": "424ae26533c23c2b",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/l/essential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1200,
        "y": 1780,
        "wires": [
            [
                "37754f8fcace9076"
            ]
        ]
    },
    {
        "id": "70c8581afb796827",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "c2083ede5bd35198"
        ],
        "x": 1520,
        "y": 1740,
        "wires": [
            [
                "37754f8fcace9076"
            ]
        ]
    },
    {
        "id": "37754f8fcace9076",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 55",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 1780,
        "wires": []
    },
    {
        "id": "d4cf265750014c1d",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/l/nonessential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 1860,
        "wires": [
            [
                "3dd95b2f727e6847"
            ]
        ]
    },
    {
        "id": "d72cc1190dcf3e43",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "ef3182521c7089d3"
        ],
        "x": 1540,
        "y": 1820,
        "wires": [
            [
                "3dd95b2f727e6847"
            ]
        ]
    },
    {
        "id": "3dd95b2f727e6847",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 56",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 1860,
        "wires": []
    },
    {
        "id": "11021ea94b907c9e",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/l/essential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 1960,
        "wires": [
            [
                "d0b5536a58508a08"
            ]
        ]
    },
    {
        "id": "432fbb418bca9cd6",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "ee985dd01eb59fe5"
        ],
        "x": 1540,
        "y": 1920,
        "wires": [
            [
                "d0b5536a58508a08"
            ]
        ]
    },
    {
        "id": "d0b5536a58508a08",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 57",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 1960,
        "wires": []
    },
    {
        "id": "e604d54d9efc159b",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/l/nonessential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1260,
        "y": 2040,
        "wires": [
            [
                "e722c213f2053a42"
            ]
        ]
    },
    {
        "id": "9f9f9303ca59afc3",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "19db07bf0482e45a"
        ],
        "x": 1560,
        "y": 2000,
        "wires": [
            [
                "e722c213f2053a42"
            ]
        ]
    },
    {
        "id": "e722c213f2053a42",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 58",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 2040,
        "wires": []
    },
    {
        "id": "e0d122e4ca64276b",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/l/essential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 2120,
        "wires": [
            [
                "40505cfcd9b26355"
            ]
        ]
    },
    {
        "id": "76fe0715f9f66afe",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "92f679a18eaaf7c2"
        ],
        "x": 1540,
        "y": 2080,
        "wires": [
            [
                "40505cfcd9b26355"
            ]
        ]
    },
    {
        "id": "40505cfcd9b26355",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 59",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 2120,
        "wires": []
    },
    {
        "id": "f9ab1ef61469fe48",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/l/nonessential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1260,
        "y": 2200,
        "wires": [
            [
                "73cedeb40d1f06da"
            ]
        ]
    },
    {
        "id": "6e79c34fe4f9a155",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "0662b7e0bb3e2416"
        ],
        "x": 1560,
        "y": 2160,
        "wires": [
            [
                "73cedeb40d1f06da"
            ]
        ]
    },
    {
        "id": "73cedeb40d1f06da",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 60",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 2200,
        "wires": []
    },
    {
        "id": "a3bb25ab4b8f85d3",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room10/l/essential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1210,
        "y": 2280,
        "wires": [
            [
                "a1807e90afa5ad2a"
            ]
        ]
    },
    {
        "id": "0c6b18ba237845b3",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "80d0a0b702dbd78c"
        ],
        "x": 1520,
        "y": 2240,
        "wires": [
            [
                "a1807e90afa5ad2a"
            ]
        ]
    },
    {
        "id": "a1807e90afa5ad2a",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 61",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 2280,
        "wires": []
    },
    {
        "id": "90e255f4fd91d58b",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room10/l/nonessential/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 2360,
        "wires": [
            [
                "62524ed87f107e53"
            ]
        ]
    },
    {
        "id": "f801fd1a5d35fdab",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "1b50feca769a4e85"
        ],
        "x": 1540,
        "y": 2320,
        "wires": [
            [
                "62524ed87f107e53"
            ]
        ]
    },
    {
        "id": "62524ed87f107e53",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 62",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 2360,
        "wires": []
    },
    {
        "id": "fcfecd717798b8b6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.40.18.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]