Group_D/nodered/power_floor0_topics.json
[
    {
        "id": "3d3daf84d823081a",
        "type": "tab",
        "label": "floor0 power",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd7e82c6c769d1a8",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room0,power",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "27fcc0e8c0d7e364"
            ]
        ]
    },
    {
        "id": "27fcc0e8c0d7e364",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room0/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "75b89c06ac93d13e",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room1,power",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "8ea3fbab68d57114"
            ]
        ]
    },
    {
        "id": "8ea3fbab68d57114",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room1/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "1547b297abd87a80",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room2,power",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "632ecd64d0083499"
            ]
        ]
    },
    {
        "id": "632ecd64d0083499",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "4274e8fa0c6aa43e",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room3,power",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "905e9e77a77ae3bc"
            ]
        ]
    },
    {
        "id": "905e9e77a77ae3bc",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "9a461dce915e90c3",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room4,power",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "8c38c289b322b580"
            ]
        ]
    },
    {
        "id": "8c38c289b322b580",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room4/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "675ac004730781e1",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room5,power",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "476617de1abd1c55"
            ]
        ]
    },
    {
        "id": "476617de1abd1c55",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "a6ffc08549315d9c",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room6,power",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "979a5ae07204811a"
            ]
        ]
    },
    {
        "id": "979a5ae07204811a",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "b7ea744d6c6db1da",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room7,power",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "6be2e7bfc92b1844"
            ]
        ]
    },
    {
        "id": "6be2e7bfc92b1844",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 480,
        "wires": []
    },
    {
        "id": "498a8d42f3e4937d",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room8,power",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "d4bfb3830e7948aa"
            ]
        ]
    },
    {
        "id": "d4bfb3830e7948aa",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/rooom8/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "3bc2bfd5752ee774",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room9,power",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "f8c6b5ad881eca1f"
            ]
        ]
    },
    {
        "id": "f8c6b5ad881eca1f",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 600,
        "wires": []
    },
    {
        "id": "f93f8ce9bb3c952d",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room10,power",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 660,
        "wires": [
            [
                "85eea54cf3a4d2b2"
            ]
        ]
    },
    {
        "id": "85eea54cf3a4d2b2",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room10/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 620,
        "y": 660,
        "wires": []
    },
    {
        "id": "09ad84fbbe55e6f5",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room2,AHU",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "540418fda4be43f7"
            ]
        ]
    },
    {
        "id": "540418fda4be43f7",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 720,
        "wires": []
    },
    {
        "id": "0fa9618f8fbad3fe",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room3,AHU",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 760,
        "wires": [
            [
                "e569053b5462e05c"
            ]
        ]
    },
    {
        "id": "e569053b5462e05c",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 760,
        "wires": []
    },
    {
        "id": "88ed60c4b416751e",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room5,AHU",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 800,
        "wires": [
            [
                "292a2045814286f9"
            ]
        ]
    },
    {
        "id": "292a2045814286f9",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 800,
        "wires": []
    },
    {
        "id": "9598b5f9ae3af92c",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room6,AHU",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 840,
        "wires": [
            [
                "f5a852a44f8aa56b"
            ]
        ]
    },
    {
        "id": "f5a852a44f8aa56b",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 840,
        "wires": []
    },
    {
        "id": "4660d8f0fbc195b7",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room7,AHU",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 880,
        "wires": [
            [
                "52f3a3f0680807ca"
            ]
        ]
    },
    {
        "id": "52f3a3f0680807ca",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 880,
        "wires": []
    },
    {
        "id": "e7d4ba6a4d49e6ac",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room8,AHU",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 920,
        "wires": [
            [
                "b4810617613fbb4a"
            ]
        ]
    },
    {
        "id": "254f62c4affe3be4",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room9,AHU",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 980,
        "wires": [
            [
                "51f03dfe334a622c"
            ]
        ]
    },
    {
        "id": "b4810617613fbb4a",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 920,
        "wires": []
    },
    {
        "id": "51f03dfe334a622c",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/ahu/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 630,
        "y": 980,
        "wires": []
    },
    {
        "id": "3185569baedf6eb6",
        "type": "comment",
        "z": "3d3daf84d823081a",
        "name": "MQTT publish nodes",
        "info": "",
        "x": 410,
        "y": 20,
        "wires": []
    },
    {
        "id": "502e35c1c65ac934",
        "type": "comment",
        "z": "3d3daf84d823081a",
        "name": "MQTT subscribe nodes",
        "info": "",
        "x": 720,
        "y": 1100,
        "wires": []
    },
    {
        "id": "dc6271328f5fbe78",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room0",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1200,
        "wires": [
            [
                "35403c041f6056f8"
            ]
        ]
    },
    {
        "id": "b98757182a6cb0fa",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "27fcc0e8c0d7e364"
        ],
        "x": 500,
        "y": 1140,
        "wires": [
            [
                "35403c041f6056f8"
            ]
        ]
    },
    {
        "id": "35403c041f6056f8",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1200,
        "wires": []
    },
    {
        "id": "07da25d718e50343",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1280,
        "wires": [
            [
                "15610c264c58e406"
            ]
        ]
    },
    {
        "id": "f5c834655dd3abc3",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "8ea3fbab68d57114"
        ],
        "x": 500,
        "y": 1240,
        "wires": [
            [
                "15610c264c58e406"
            ]
        ]
    },
    {
        "id": "15610c264c58e406",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1280,
        "wires": []
    },
    {
        "id": "e5b83d28bba49ef1",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1360,
        "wires": [
            [
                "05099fcbcda1aa02"
            ]
        ]
    },
    {
        "id": "d34a72ae50510eaf",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "632ecd64d0083499"
        ],
        "x": 520,
        "y": 1320,
        "wires": [
            [
                "05099fcbcda1aa02"
            ]
        ]
    },
    {
        "id": "05099fcbcda1aa02",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1360,
        "wires": []
    },
    {
        "id": "99aff45f26d68328",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1440,
        "wires": [
            [
                "813c5a4d1516a3e1"
            ]
        ]
    },
    {
        "id": "758a840ae4710fa0",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "905e9e77a77ae3bc"
        ],
        "x": 540,
        "y": 1400,
        "wires": [
            [
                "813c5a4d1516a3e1"
            ]
        ]
    },
    {
        "id": "813c5a4d1516a3e1",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1440,
        "wires": []
    },
    {
        "id": "3caae9f8e080816b",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1500,
        "wires": [
            [
                "aaf2b26bfc7d85c6"
            ]
        ]
    },
    {
        "id": "1f8091b5673a0cb1",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "8c38c289b322b580"
        ],
        "x": 560,
        "y": 1480,
        "wires": [
            [
                "aaf2b26bfc7d85c6"
            ]
        ]
    },
    {
        "id": "aaf2b26bfc7d85c6",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1500,
        "wires": []
    },
    {
        "id": "a0d182f5978b7bba",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1560,
        "wires": [
            [
                "aab2541d73840b38"
            ]
        ]
    },
    {
        "id": "f3504ffea0dea152",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "476617de1abd1c55"
        ],
        "x": 560,
        "y": 1540,
        "wires": [
            [
                "aab2541d73840b38"
            ]
        ]
    },
    {
        "id": "aab2541d73840b38",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1580,
        "wires": []
    },
    {
        "id": "a879999ebfa37ac8",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room6",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1680,
        "wires": [
            [
                "2288b373f6de1e5c"
            ]
        ]
    },
    {
        "id": "fea8d10ff89212dd",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "979a5ae07204811a"
        ],
        "x": 560,
        "y": 1620,
        "wires": [
            [
                "2288b373f6de1e5c"
            ]
        ]
    },
    {
        "id": "2288b373f6de1e5c",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1660,
        "wires": []
    },
    {
        "id": "2a78a58dcdd1b05c",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 1740,
        "wires": [
            [
                "aee1cdc093a2195e"
            ]
        ]
    },
    {
        "id": "7485d558af1d0c4a",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "6be2e7bfc92b1844"
        ],
        "x": 600,
        "y": 1720,
        "wires": [
            [
                "aee1cdc093a2195e"
            ]
        ]
    },
    {
        "id": "aee1cdc093a2195e",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1780,
        "wires": []
    },
    {
        "id": "c5c5f09496bd3765",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room8",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1880,
        "wires": [
            [
                "74b333c44a91f9c7"
            ]
        ]
    },
    {
        "id": "bec247041654550c",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "d4bfb3830e7948aa"
        ],
        "x": 560,
        "y": 1820,
        "wires": [
            [
                "74b333c44a91f9c7"
            ]
        ]
    },
    {
        "id": "74b333c44a91f9c7",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1860,
        "wires": []
    },
    {
        "id": "4f2be5534aabd25d",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room9",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1940,
        "wires": [
            [
                "b87a04f73dded974"
            ]
        ]
    },
    {
        "id": "8ccbed06227d5e2e",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "f8c6b5ad881eca1f"
        ],
        "x": 580,
        "y": 1900,
        "wires": [
            [
                "b87a04f73dded974"
            ]
        ]
    },
    {
        "id": "b87a04f73dded974",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1940,
        "wires": []
    },
    {
        "id": "636c1f85f8c2baa1",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room10",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 2040,
        "wires": [
            [
                "9424b671f5574184"
            ]
        ]
    },
    {
        "id": "c62631a2c90be9b3",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "85eea54cf3a4d2b2"
        ],
        "x": 580,
        "y": 1980,
        "wires": [
            [
                "9424b671f5574184"
            ]
        ]
    },
    {
        "id": "9424b671f5574184",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 2040,
        "wires": []
    },
    {
        "id": "5de308d8a27dab0c",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room2/ahu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 2120,
        "wires": [
            [
                "bd02907678e1b53c"
            ]
        ]
    },
    {
        "id": "e3e9c49d0cd520c2",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "540418fda4be43f7"
        ],
        "x": 600,
        "y": 2080,
        "wires": [
            [
                "bd02907678e1b53c"
            ]
        ]
    },
    {
        "id": "bd02907678e1b53c",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 2120,
        "wires": []
    },
    {
        "id": "280c5ac023be3b66",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room3/ahu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 2200,
        "wires": [
            [
                "e28306d6f1383239"
            ]
        ]
    },
    {
        "id": "87cdd18f4de43097",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "e569053b5462e05c"
        ],
        "x": 600,
        "y": 2160,
        "wires": [
            [
                "e28306d6f1383239"
            ]
        ]
    },
    {
        "id": "e28306d6f1383239",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 2200,
        "wires": []
    },
    {
        "id": "f7f863701970f492",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room5/ahu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 2260,
        "wires": [
            [
                "1aeb4e5ad6e65ec9"
            ]
        ]
    },
    {
        "id": "7791db6827956744",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "292a2045814286f9"
        ],
        "x": 600,
        "y": 2220,
        "wires": [
            [
                "1aeb4e5ad6e65ec9"
            ]
        ]
    },
    {
        "id": "1aeb4e5ad6e65ec9",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 2260,
        "wires": []
    },
    {
        "id": "c8ed2fbac4ead9eb",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room6/ahu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 2340,
        "wires": [
            [
                "790b5007ae56d3b7"
            ]
        ]
    },
    {
        "id": "771538062322e244",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "f5a852a44f8aa56b"
        ],
        "x": 600,
        "y": 2300,
        "wires": [
            [
                "790b5007ae56d3b7"
            ]
        ]
    },
    {
        "id": "790b5007ae56d3b7",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 2340,
        "wires": []
    },
    {
        "id": "8ffe03b73a4607e7",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room7/ahu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 2420,
        "wires": [
            [
                "7238c71e665b6376"
            ]
        ]
    },
    {
        "id": "0d5c08a2d5fafe9e",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "52f3a3f0680807ca"
        ],
        "x": 560,
        "y": 2380,
        "wires": [
            [
                "7238c71e665b6376"
            ]
        ]
    },
    {
        "id": "7238c71e665b6376",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 2420,
        "wires": []
    },
    {
        "id": "f53534630d748052",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room8/ahu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 2500,
        "wires": [
            [
                "d89c7cc1d501cecc"
            ]
        ]
    },
    {
        "id": "a41684fb9a37cc80",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "b4810617613fbb4a"
        ],
        "x": 560,
        "y": 2460,
        "wires": [
            [
                "d89c7cc1d501cecc"
            ]
        ]
    },
    {
        "id": "d89c7cc1d501cecc",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 2500,
        "wires": []
    },
    {
        "id": "092945bacfb32871",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room9/ahu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 2580,
        "wires": [
            [
                "b82304c0ebac171a"
            ]
        ]
    },
    {
        "id": "0c2ac8330b1e303c",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "f8c6b5ad881eca1f"
        ],
        "x": 600,
        "y": 2540,
        "wires": [
            [
                "b82304c0ebac171a"
            ]
        ]
    },
    {
        "id": "b82304c0ebac171a",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 2580,
        "wires": []
    },
    {
        "id": "807d470d685f57ea",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room2,boiler",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 60,
        "wires": [
            [
                "cea205929a824ddd"
            ]
        ]
    },
    {
        "id": "cea205929a824ddd",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/b/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 60,
        "wires": []
    },
    {
        "id": "e8249170421f6787",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room2,chiller",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 120,
        "wires": [
            [
                "28804af5228c6bf6"
            ]
        ]
    },
    {
        "id": "28804af5228c6bf6",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/c/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 120,
        "wires": []
    },
    {
        "id": "62e27f9c148ffeaf",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room5,boiler",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 180,
        "wires": [
            [
                "a39cc4587d5bc91c"
            ]
        ]
    },
    {
        "id": "a39cc4587d5bc91c",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/b/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 180,
        "wires": []
    },
    {
        "id": "579e19d76fc3141a",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room5,chiller",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 240,
        "wires": [
            [
                "854428b949a9c00a"
            ]
        ]
    },
    {
        "id": "854428b949a9c00a",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/c/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 240,
        "wires": []
    },
    {
        "id": "a98cb64063ad6985",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room2/b",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 2680,
        "wires": [
            [
                "161c30a6b4efef8e"
            ]
        ]
    },
    {
        "id": "27f7d28d48ad076a",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "a98cb64063ad6985"
        ],
        "x": 580,
        "y": 2640,
        "wires": [
            [
                "161c30a6b4efef8e"
            ]
        ]
    },
    {
        "id": "161c30a6b4efef8e",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 2680,
        "wires": []
    },
    {
        "id": "bfb68b3cfec837fc",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room2/c",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 2760,
        "wires": [
            [
                "287468d3b098b1b3"
            ]
        ]
    },
    {
        "id": "bc3afd21df255b3b",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "bfb68b3cfec837fc"
        ],
        "x": 540,
        "y": 2720,
        "wires": [
            [
                "287468d3b098b1b3"
            ]
        ]
    },
    {
        "id": "287468d3b098b1b3",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 2760,
        "wires": []
    },
    {
        "id": "80c5dd59972fdfb3",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room5/b",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 2860,
        "wires": [
            [
                "84568d9d5d21840a"
            ]
        ]
    },
    {
        "id": "2d457c8b44a6f384",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "80c5dd59972fdfb3"
        ],
        "x": 560,
        "y": 2820,
        "wires": [
            [
                "84568d9d5d21840a"
            ]
        ]
    },
    {
        "id": "84568d9d5d21840a",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 2860,
        "wires": []
    },
    {
        "id": "e9e52d7b348c9e69",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room5/c",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 2920,
        "wires": [
            [
                "d868a805c802c697"
            ]
        ]
    },
    {
        "id": "58fb8906a36ce0d6",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "e9e52d7b348c9e69"
        ],
        "x": 540,
        "y": 2900,
        "wires": [
            [
                "d868a805c802c697"
            ]
        ]
    },
    {
        "id": "d868a805c802c697",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 2920,
        "wires": []
    },
    {
        "id": "52be858e296f3561",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room0,lights",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 300,
        "wires": [
            [
                "0e3915213f5f908b"
            ]
        ]
    },
    {
        "id": "0e3915213f5f908b",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room0/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 300,
        "wires": []
    },
    {
        "id": "cf712c6b471854bd",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room1,lights",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 360,
        "wires": [
            [
                "15558e563f90073e"
            ]
        ]
    },
    {
        "id": "15558e563f90073e",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room1/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 360,
        "wires": []
    },
    {
        "id": "4d036767f39a5894",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room2,lights",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 420,
        "wires": [
            [
                "be37fe5117212c4a"
            ]
        ]
    },
    {
        "id": "be37fe5117212c4a",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room2/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 420,
        "wires": []
    },
    {
        "id": "368753450a04b2fc",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room3,lights",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 460,
        "wires": [
            [
                "7f75359b0f3d1453"
            ]
        ]
    },
    {
        "id": "7f75359b0f3d1453",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room3/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 460,
        "wires": []
    },
    {
        "id": "50713234cc9a9098",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room4,lights",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 500,
        "wires": [
            [
                "bc36ae7ef6c2f096"
            ]
        ]
    },
    {
        "id": "bc36ae7ef6c2f096",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room4/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 500,
        "wires": []
    },
    {
        "id": "18fbdacecb45b37b",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room5,lights",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 560,
        "wires": [
            [
                "d2c0bc243aa90245"
            ]
        ]
    },
    {
        "id": "d2c0bc243aa90245",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room5/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 560,
        "wires": []
    },
    {
        "id": "bc85ac335b573443",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room6,lights",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 620,
        "wires": [
            [
                "5aab758622c94050"
            ]
        ]
    },
    {
        "id": "5aab758622c94050",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room6/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 620,
        "wires": []
    },
    {
        "id": "a8ee278d409cb131",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room7,lights",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 680,
        "wires": [
            [
                "de2c2127c31cf163"
            ]
        ]
    },
    {
        "id": "de2c2127c31cf163",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room7/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 680,
        "wires": []
    },
    {
        "id": "d1f07aa7c03929a1",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room8,lights",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 740,
        "wires": [
            [
                "6066e4904fd991b7"
            ]
        ]
    },
    {
        "id": "6066e4904fd991b7",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room8/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 740,
        "wires": []
    },
    {
        "id": "da0add23937bec68",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room9,lights",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 991.8463134765625,
        "y": 801.0103759765625,
        "wires": [
            [
                "f62ea01fa562bb4e"
            ]
        ]
    },
    {
        "id": "f62ea01fa562bb4e",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room9/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 800,
        "wires": []
    },
    {
        "id": "0d7adeb24c660319",
        "type": "inject",
        "z": "3d3daf84d823081a",
        "name": "floor0,room10,lights",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 860,
        "wires": [
            [
                "97f21a40b65b481e"
            ]
        ]
    },
    {
        "id": "97f21a40b65b481e",
        "type": "mqtt out",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/floor0/room10/l/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcfecd717798b8b6",
        "x": 1420,
        "y": 860,
        "wires": []
    },
    {
        "id": "b120c6d573974f54",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room0/l",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 3000,
        "wires": [
            [
                "974c925d9e7dc146"
            ]
        ]
    },
    {
        "id": "77349b78119a467f",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "b120c6d573974f54"
        ],
        "x": 520,
        "y": 2980,
        "wires": [
            [
                "974c925d9e7dc146"
            ]
        ]
    },
    {
        "id": "974c925d9e7dc146",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 3000,
        "wires": []
    },
    {
        "id": "183ad1af2a206009",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room1/l",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3080,
        "wires": [
            [
                "4f02aaaa1bd7203f"
            ]
        ]
    },
    {
        "id": "4938868943faf7a2",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "183ad1af2a206009"
        ],
        "x": 500,
        "y": 3060,
        "wires": [
            [
                "4f02aaaa1bd7203f"
            ]
        ]
    },
    {
        "id": "4f02aaaa1bd7203f",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3080,
        "wires": []
    },
    {
        "id": "08febd605c53b4f1",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room2/l",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3140,
        "wires": [
            [
                "e808ce40d0af18a8"
            ]
        ]
    },
    {
        "id": "c2fd82663b6a0819",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "08febd605c53b4f1"
        ],
        "x": 500,
        "y": 3120,
        "wires": [
            [
                "e808ce40d0af18a8"
            ]
        ]
    },
    {
        "id": "e808ce40d0af18a8",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3140,
        "wires": []
    },
    {
        "id": "2502a3014e0f0d3e",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room3/l",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3200,
        "wires": [
            [
                "b356e1d4bd179287"
            ]
        ]
    },
    {
        "id": "ddc2ef7c5b70c5e7",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "2502a3014e0f0d3e"
        ],
        "x": 500,
        "y": 3180,
        "wires": [
            [
                "b356e1d4bd179287"
            ]
        ]
    },
    {
        "id": "b356e1d4bd179287",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3200,
        "wires": []
    },
    {
        "id": "3ec1ba0f51bd66f1",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room4/l",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3260,
        "wires": [
            [
                "710905d93b23c7bf"
            ]
        ]
    },
    {
        "id": "284d1c34df21c21e",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "3ec1ba0f51bd66f1"
        ],
        "x": 500,
        "y": 3240,
        "wires": [
            [
                "710905d93b23c7bf"
            ]
        ]
    },
    {
        "id": "710905d93b23c7bf",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3260,
        "wires": []
    },
    {
        "id": "70c77d2ee5bfc473",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room5/l",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 218.01303100585938,
        "y": 3326.01025390625,
        "wires": [
            [
                "a925d34b71ef26c1"
            ]
        ]
    },
    {
        "id": "d9bef2873d8ba55c",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "70c77d2ee5bfc473"
        ],
        "x": 480,
        "y": 3300,
        "wires": [
            [
                "a925d34b71ef26c1"
            ]
        ]
    },
    {
        "id": "a925d34b71ef26c1",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 3320,
        "wires": []
    },
    {
        "id": "90f085815781cf9f",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room6/l",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3400,
        "wires": [
            [
                "e3599f37d79ac6d3"
            ]
        ]
    },
    {
        "id": "17d1742d07d8014b",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "90f085815781cf9f"
        ],
        "x": 500,
        "y": 3380,
        "wires": [
            [
                "e3599f37d79ac6d3"
            ]
        ]
    },
    {
        "id": "e3599f37d79ac6d3",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3400,
        "wires": []
    },
    {
        "id": "8f95c8b062923f7c",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room7/l",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3480,
        "wires": [
            [
                "1f9c0f5f7f98a3a3"
            ]
        ]
    },
    {
        "id": "5965a8c36b16a5e6",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "8f95c8b062923f7c"
        ],
        "x": 500,
        "y": 3460,
        "wires": [
            [
                "1f9c0f5f7f98a3a3"
            ]
        ]
    },
    {
        "id": "1f9c0f5f7f98a3a3",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3480,
        "wires": []
    },
    {
        "id": "f01b4bb473fa8c4e",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room8/l",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3540,
        "wires": [
            [
                "fe894a173f3098e4"
            ]
        ]
    },
    {
        "id": "9da74346563fa5f9",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "f01b4bb473fa8c4e"
        ],
        "x": 500,
        "y": 3520,
        "wires": [
            [
                "fe894a173f3098e4"
            ]
        ]
    },
    {
        "id": "fe894a173f3098e4",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3540,
        "wires": []
    },
    {
        "id": "1c5a0d7bd32f396c",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room9/l",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3600,
        "wires": [
            [
                "13b9005498ca0645"
            ]
        ]
    },
    {
        "id": "48638f501cc93e4d",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "1c5a0d7bd32f396c"
        ],
        "x": 500,
        "y": 3580,
        "wires": [
            [
                "13b9005498ca0645"
            ]
        ]
    },
    {
        "id": "13b9005498ca0645",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3600,
        "wires": []
    },
    {
        "id": "70c28ebe34bf0eac",
        "type": "mqtt in",
        "z": "3d3daf84d823081a",
        "name": "",
        "topic": "326project/smartbuilding/energy/control/floor0/room10/l",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fcfecd717798b8b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 3680,
        "wires": [
            [
                "20577d190b2a2583"
            ]
        ]
    },
    {
        "id": "edeccd8b5d71a8cf",
        "type": "status",
        "z": "3d3daf84d823081a",
        "name": "",
        "scope": [
            "70c28ebe34bf0eac"
        ],
        "x": 500,
        "y": 3660,
        "wires": [
            [
                "20577d190b2a2583"
            ]
        ]
    },
    {
        "id": "20577d190b2a2583",
        "type": "debug",
        "z": "3d3daf84d823081a",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 3680,
        "wires": []
    },
    {
        "id": "fcfecd717798b8b6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.40.18.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]