Group_A/nodeRed_mqtt_data_flows/mqtt_data_flows.json
[
    {
        "id": "46e41858838ea3eb",
        "type": "tab",
        "label": "MQTT-Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d2a46c8bded70d4e",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/1/1/sensor/temperature",
        "topic": "326project/smartbuilding/hvac/1/1/sensor/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 40,
        "wires": [
            [
                "1b948c718d20de52"
            ]
        ]
    },
    {
        "id": "d10fd8c35ca42df9",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/1/1/sensor/humidity",
        "topic": "326project/smartbuilding/hvac/1/1/sensor/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "92856a3382833a97"
            ]
        ]
    },
    {
        "id": "42edb632a38b68e0",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/1/1/sensor/pressure",
        "topic": "326project/smartbuilding/hvac/1/1/sensor/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "7ffad8920900c940"
            ]
        ]
    },
    {
        "id": "8fec88ad2f4fa8d4",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/1/2/sensor/temperature",
        "topic": "326project/smartbuilding/hvac/1/2/sensor/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "1b948c718d20de52"
            ]
        ]
    },
    {
        "id": "3f42306317028065",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/1/2/sensor/humidity",
        "topic": "326project/smartbuilding/hvac/1/2/sensor/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "92856a3382833a97"
            ]
        ]
    },
    {
        "id": "5cd6bdf7f7ac0f31",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/1/2/sensor/pressure",
        "topic": "326project/smartbuilding/hvac/1/2/sensor/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "7ffad8920900c940"
            ]
        ]
    },
    {
        "id": "c01d1f04672cc430",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/control/boiler",
        "topic": "326project/smartbuilding/hvac/control/boiler",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 860,
        "wires": [
            [
                "42eb296f8503e615"
            ]
        ]
    },
    {
        "id": "debd40e6f74a2d97",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/control/chiller",
        "topic": "326project/smartbuilding/hvac/control/chiller",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 940,
        "wires": [
            [
                "05e197af6a5e21eb"
            ]
        ]
    },
    {
        "id": "7ac201b381ec1b12",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/1/1/control/ahu",
        "topic": "326project/smartbuilding/hvac/1/1/control/ahu",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "60489341812e4251",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/1/2/control/ahu",
        "topic": "326project/smartbuilding/hvac/1/2/control/ahu",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "d9d5866774acd419",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/coldairduct/temperature",
        "topic": "326project/smartbuilding/hvac/coldairduct/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 520,
        "wires": [
            [
                "f75fd2681d3d8e65"
            ]
        ]
    },
    {
        "id": "2eafb167de2081c6",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/state/boiler",
        "topic": "326project/smartbuilding/hvac/state/boiler",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1020,
        "wires": [
            [
                "09cdc4b71499dad7"
            ]
        ]
    },
    {
        "id": "87b1794003288233",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/hotairduct/temperature",
        "topic": "326project/smartbuilding/hvac/hotairduct/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 600,
        "wires": [
            [
                "45993e844753562b"
            ]
        ]
    },
    {
        "id": "0ff37bfa6fc5667f",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/state/chiller",
        "topic": "326project/smartbuilding/hvac/state/chiller",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1100,
        "wires": [
            [
                "58cb1313156a849f"
            ]
        ]
    },
    {
        "id": "333a37b27c40f101",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/1/1/state/ahu",
        "topic": "326project/smartbuilding/hvac/1/1/state/ahu",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "6fdd4af1938965d9",
        "type": "mqtt in",
        "z": "46e41858838ea3eb",
        "name": "326project/smartbuilding/hvac/1/2/state/ahu",
        "topic": "326project/smartbuilding/hvac/1/2/state/ahu",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "c870586ebe63f058",
        "type": "mongodb out",
        "z": "46e41858838ea3eb",
        "mongodb": "6c36cda79d9fbc4e",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 920,
        "y": 40,
        "wires": []
    },
    {
        "id": "1b948c718d20de52",
        "type": "function",
        "z": "46e41858838ea3eb",
        "name": "insert_sesnsor_temp",
        "func": "let str = msg.topic;\nstr = str.substring(30, str.length);\n\nlet floor = str.substring(0, 1);\nlet room = str.substring(2, 3);\nlet description = str.substring(4, str.length);\nlet data = msg.payload;\nlet time = new Date().toLocaleString();\n\nmsg.payload = {\n    \"floor\": floor,\n    \"room\": room,\n    \"description\": description,\n    \"data\": data,\n    \"time\": time\n};\n\nmsg.collection = \"co326_hvac_sensor_temp\";\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 40,
        "wires": [
            [
                "c870586ebe63f058"
            ]
        ]
    },
    {
        "id": "92856a3382833a97",
        "type": "function",
        "z": "46e41858838ea3eb",
        "name": "insert_sesnsor_humid",
        "func": "let str = msg.topic;\nstr = str.substring(30, str.length);\n\nlet floor = str.substring(0, 1);\nlet room = str.substring(2, 3);\nlet description = str.substring(4, str.length);\nlet data = msg.payload;\nlet time = new Date().toLocaleString();\n\nmsg.payload = {\n    \"floor\": floor,\n    \"room\": room,\n    \"description\": description,\n    \"data\": data,\n    \"time\": time\n};\n\nmsg.collection = \"co326_hvac_sensor_humid\";\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 200,
        "wires": [
            [
                "03b56c09b672d751"
            ]
        ]
    },
    {
        "id": "03b56c09b672d751",
        "type": "mongodb out",
        "z": "46e41858838ea3eb",
        "mongodb": "6c36cda79d9fbc4e",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 920,
        "y": 200,
        "wires": []
    },
    {
        "id": "7ffad8920900c940",
        "type": "function",
        "z": "46e41858838ea3eb",
        "name": "insert_sesnsor_press",
        "func": "let str = msg.topic;\nstr = str.substring(30, str.length);\n\nlet floor = str.substring(0, 1);\nlet room = str.substring(2, 3);\nlet description = str.substring(4, str.length);\nlet data = msg.payload;\nlet time = new Date().toLocaleString();\n\nmsg.payload = {\n    \"floor\": floor,\n    \"room\": room,\n    \"description\": description,\n    \"data\": data,\n    \"time\": time\n};\n\nmsg.collection = \"co326_hvac_sensor_press\";\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 360,
        "wires": [
            [
                "59bf125187bd2fc7"
            ]
        ]
    },
    {
        "id": "59bf125187bd2fc7",
        "type": "mongodb out",
        "z": "46e41858838ea3eb",
        "mongodb": "6c36cda79d9fbc4e",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 920,
        "y": 360,
        "wires": []
    },
    {
        "id": "42eb296f8503e615",
        "type": "function",
        "z": "46e41858838ea3eb",
        "name": "insert_control_boiler",
        "func": "let str = msg.topic;\nstr = str.substring(30, str.length);\n\nlet description = str.substring(0, str.length);\nlet data = msg.payload;\nlet time = new Date().toLocaleString();\n\nmsg.payload = {\n    \"description\": description,\n    \"data\": data,\n    \"time\": time\n};\n\nmsg.collection = \"co326_hvac_control_boiler\";\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 860,
        "wires": [
            [
                "5bf25dff301b4de2"
            ]
        ]
    },
    {
        "id": "05e197af6a5e21eb",
        "type": "function",
        "z": "46e41858838ea3eb",
        "name": "insert_control_chiller",
        "func": "let str = msg.topic;\nstr = str.substring(30, str.length);\n\nlet description = str.substring(0, str.length);\nlet data = msg.payload;\nlet time = new Date().toLocaleString();\n\nmsg.payload = {\n    \"description\": description,\n    \"data\": data,\n    \"time\": time\n};\n\nmsg.collection = \"co326_hvac_control_chiller\";\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 940,
        "wires": [
            [
                "df037b3e531e2e82"
            ]
        ]
    },
    {
        "id": "09cdc4b71499dad7",
        "type": "function",
        "z": "46e41858838ea3eb",
        "name": "insert_state_boiler",
        "func": "let str = msg.topic;\nstr = str.substring(30, str.length);\n\nlet description = str.substring(0, str.length);\nlet data = msg.payload;\nlet time = new Date().toLocaleString();\n\nmsg.payload = {\n    \"description\": description,\n    \"data\": data,\n    \"time\": time\n};\n\nmsg.collection = \"co326_hvac_state_boiler\";\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1020,
        "wires": [
            [
                "e2957a5688467f34"
            ]
        ]
    },
    {
        "id": "58cb1313156a849f",
        "type": "function",
        "z": "46e41858838ea3eb",
        "name": "insert_state_chiller",
        "func": "let str = msg.topic;\nstr = str.substring(30, str.length);\n\nlet description = str.substring(0, str.length);\nlet data = msg.payload;\nlet time = new Date().toLocaleString();\n\nmsg.payload = {\n    \"description\": description,\n    \"data\": data,\n    \"time\": time\n};\n\nmsg.collection = \"co326_hvac_state_chiller\";\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1100,
        "wires": [
            [
                "d301f2bd31a06da7"
            ]
        ]
    },
    {
        "id": "5bf25dff301b4de2",
        "type": "mongodb out",
        "z": "46e41858838ea3eb",
        "mongodb": "6c36cda79d9fbc4e",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 920,
        "y": 860,
        "wires": []
    },
    {
        "id": "df037b3e531e2e82",
        "type": "mongodb out",
        "z": "46e41858838ea3eb",
        "mongodb": "6c36cda79d9fbc4e",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 920,
        "y": 940,
        "wires": []
    },
    {
        "id": "e2957a5688467f34",
        "type": "mongodb out",
        "z": "46e41858838ea3eb",
        "mongodb": "6c36cda79d9fbc4e",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 920,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d301f2bd31a06da7",
        "type": "mongodb out",
        "z": "46e41858838ea3eb",
        "mongodb": "6c36cda79d9fbc4e",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 920,
        "y": 1100,
        "wires": []
    },
    {
        "id": "f75fd2681d3d8e65",
        "type": "function",
        "z": "46e41858838ea3eb",
        "name": "insert_coldAirduct_temp",
        "func": "let str = msg.topic;\nstr = str.substring(30, str.length);\n\nlet description = str.substring(0, str.length);\nlet data = msg.payload;\nlet time = new Date().toLocaleString();\n\nmsg.payload = {\n    \"description\": description,\n    \"data\": data,\n    \"time\": time\n};\n\nmsg.collection = \"co326_hvac_coldAirduct_temp\";\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 520,
        "wires": [
            [
                "ddc13240ac743dce"
            ]
        ]
    },
    {
        "id": "45993e844753562b",
        "type": "function",
        "z": "46e41858838ea3eb",
        "name": "insert_hotAirduct_temp",
        "func": "let str = msg.topic;\nstr = str.substring(30, str.length);\n\nlet description = str.substring(0, str.length);\nlet data = msg.payload;\nlet time = new Date().toLocaleString();\n\nmsg.payload = {\n    \"description\": description,\n    \"data\": data,\n    \"time\": time\n};\n\nmsg.collection = \"co326_hvac_hotAirduct_temp\";\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 600,
        "wires": [
            [
                "7b233bded67e80bc"
            ]
        ]
    },
    {
        "id": "ddc13240ac743dce",
        "type": "mongodb out",
        "z": "46e41858838ea3eb",
        "mongodb": "6c36cda79d9fbc4e",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 920,
        "y": 520,
        "wires": []
    },
    {
        "id": "7b233bded67e80bc",
        "type": "mongodb out",
        "z": "46e41858838ea3eb",
        "mongodb": "6c36cda79d9fbc4e",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 920,
        "y": 600,
        "wires": []
    },
    {
        "id": "93a52709f8718a12",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto_326",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6c36cda79d9fbc4e",
        "type": "mongodb",
        "hostname": "mongo_326",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "co326",
        "name": ""
    }
]