Group_A/nodered_flows/SCADA_Interface.json
[
    {
        "id": "09f3a2480852cfab",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc9aa01afb8a4289",
        "type": "ui_button",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "d7ce6ed80fc1fe19",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 760,
        "wires": [
            [
                "ecec15b4f82d2cb8",
                "06b323cad7f7f792"
            ]
        ]
    },
    {
        "id": "580d51203182f597",
        "type": "ui_button",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "d7ce6ed80fc1fe19",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 800,
        "wires": [
            [
                "ecec15b4f82d2cb8",
                "06b323cad7f7f792"
            ]
        ]
    },
    {
        "id": "d6ede7a479588e5f",
        "type": "ui_button",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "501dc4d2cc2c91f0",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 1020,
        "wires": [
            [
                "ea2756168c48587a",
                "8b056c6afd0fc72e"
            ]
        ]
    },
    {
        "id": "48d603e13536daa5",
        "type": "ui_button",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "501dc4d2cc2c91f0",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 1060,
        "wires": [
            [
                "ea2756168c48587a",
                "8b056c6afd0fc72e"
            ]
        ]
    },
    {
        "id": "5ad2e8b8d9ee8d6f",
        "type": "ui_numeric",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Hot Air Duct Threshold Temprature",
        "tooltip": "Set the threshold temprature of hot air duct in celsius",
        "group": "d504e8555a56184a",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "0a76089283cf68ec",
                "eecee2f8064b19c2"
            ]
        ]
    },
    {
        "id": "b4f92e75d35e1820",
        "type": "ui_numeric",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Cold Air Duct Threshold Temprature",
        "tooltip": "Set the threshold temprature of cold air duct in celsius",
        "group": "d504e8555a56184a",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "-50",
        "max": "0",
        "step": 1,
        "className": "",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "612c6f4c7d7e9a4f",
                "9096d085152a31e3"
            ]
        ]
    },
    {
        "id": "9495ca76aff72a9f",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a6fdaffffc5d92b7",
        "order": 1,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Current State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 950,
        "y": 680,
        "wires": []
    },
    {
        "id": "ce213b59845e24df",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "f7c120bffca73d37",
        "order": 1,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Current State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 950,
        "y": 940,
        "wires": []
    },
    {
        "id": "c00420f28ec67eaf",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Temperature :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 1220,
        "wires": []
    },
    {
        "id": "86620337f662cd88",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Humidity :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 680,
        "y": 1280,
        "wires": []
    },
    {
        "id": "b704229fb7468d9e",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Air Pressure :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 1340,
        "wires": []
    },
    {
        "id": "a3dd95f4de2e129d",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Occupancy Status :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 710,
        "y": 1400,
        "wires": []
    },
    {
        "id": "936493667f8985eb",
        "type": "ui_numeric",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Set Blower Speed",
        "tooltip": "",
        "group": "a3378c8178c980c8",
        "order": 6,
        "width": "0",
        "height": "0",
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} or {{msg.blowespeed}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 570,
        "y": 1540,
        "wires": [
            [
                "9125efb4d38e7ecf",
                "30200e39d88053b0"
            ]
        ]
    },
    {
        "id": "410d52ba27d5e8c0",
        "type": "ui_switch",
        "z": "09f3a2480852cfab",
        "d": true,
        "name": "",
        "label": "Humidifier ON/OFF",
        "tooltip": "",
        "group": "a3378c8178c980c8",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 1660,
        "wires": [
            [
                "bd7ff61651a6edec"
            ]
        ]
    },
    {
        "id": "716d683613bb1e39",
        "type": "ui_switch",
        "z": "09f3a2480852cfab",
        "d": true,
        "name": "",
        "label": "Air Remover ON/OFF",
        "tooltip": "",
        "group": "a3378c8178c980c8",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 1700,
        "wires": [
            [
                "54a2d0e14a82de21"
            ]
        ]
    },
    {
        "id": "9125efb4d38e7ecf",
        "type": "ui_gauge",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "a3378c8178c980c8",
        "order": 5,
        "width": "4",
        "height": "3",
        "gtype": "donut",
        "title": "Blower Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 800,
        "y": 1480,
        "wires": []
    },
    {
        "id": "316a4cd61a6efa30",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Temprature :",
        "format": "{{msg.payload.temp}}",
        "layout": "row-center",
        "className": "",
        "x": 670,
        "y": 1940,
        "wires": []
    },
    {
        "id": "720bf4fe65b3c41f",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Humidity :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 660,
        "y": 2000,
        "wires": []
    },
    {
        "id": "c049caf8a2079659",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Air Pressure :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 680,
        "y": 2060,
        "wires": []
    },
    {
        "id": "3a16d0e0cdfaab00",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Occupancy Status :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 690,
        "y": 2120,
        "wires": []
    },
    {
        "id": "213c622444c3bed7",
        "type": "ui_numeric",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Set Blower Speed",
        "tooltip": "",
        "group": "bf8e161457509e95",
        "order": 8,
        "width": "0",
        "height": "0",
        "wrap": false,
        "passthru": true,
        "topic": "blower_speed",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 530,
        "y": 2260,
        "wires": [
            [
                "e63b5840f4ce4ecb",
                "ce81cc85c1b73af6"
            ]
        ]
    },
    {
        "id": "fc60dd29cae3c0a9",
        "type": "ui_switch",
        "z": "09f3a2480852cfab",
        "d": true,
        "name": "",
        "label": "Blower ON/OFF",
        "tooltip": "",
        "group": "bf8e161457509e95",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 720,
        "y": 2320,
        "wires": [
            [
                "dc530c43303d21e9"
            ]
        ]
    },
    {
        "id": "73a87e2b959d528e",
        "type": "ui_switch",
        "z": "09f3a2480852cfab",
        "d": true,
        "name": "",
        "label": "Humidifier ON/OFF",
        "tooltip": "",
        "group": "bf8e161457509e95",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 2360,
        "wires": [
            [
                "309698ac7abf9455"
            ]
        ]
    },
    {
        "id": "99e6ff60e0dfc6da",
        "type": "ui_switch",
        "z": "09f3a2480852cfab",
        "d": true,
        "name": "",
        "label": "Air Remover ON/OFF",
        "tooltip": "",
        "group": "bf8e161457509e95",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 660,
        "y": 2400,
        "wires": [
            [
                "cd2a1828f238fbdf"
            ]
        ]
    },
    {
        "id": "e63b5840f4ce4ecb",
        "type": "ui_gauge",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "bf8e161457509e95",
        "order": 6,
        "width": "4",
        "height": "3",
        "gtype": "donut",
        "title": "Blower Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 740,
        "y": 2180,
        "wires": []
    },
    {
        "id": "c457e31b8b45ec1a",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/1/pressure",
        "topic": "326project/smartbuilding/hvac/0/1/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 2060,
        "wires": [
            [
                "c049caf8a2079659"
            ]
        ]
    },
    {
        "id": "53e8a261b1a41616",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/1/humidity",
        "topic": "326project/smartbuilding/hvac/0/1/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 2000,
        "wires": [
            [
                "720bf4fe65b3c41f"
            ]
        ]
    },
    {
        "id": "3eed936e78f0bf40",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/1/temperature",
        "topic": "326project/smartbuilding/hvac/0/1/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1940,
        "wires": [
            [
                "316a4cd61a6efa30"
            ]
        ]
    },
    {
        "id": "900af982fb4b0a2e",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/0/pressure",
        "topic": "326project/smartbuilding/hvac/0/0/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1340,
        "wires": [
            [
                "92046dec88d73608"
            ]
        ]
    },
    {
        "id": "1251909a6f4a4fde",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/0/humidity",
        "topic": "326project/smartbuilding/hvac/0/0/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1280,
        "wires": [
            [
                "2bd92fc171085562"
            ]
        ]
    },
    {
        "id": "478f58bda2d08c81",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/0/temperature",
        "topic": "326project/smartbuilding/hvac/0/0/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1220,
        "wires": [
            [
                "f4265ec73ae9eef1"
            ]
        ]
    },
    {
        "id": "208b9193472e8043",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/hotairduct/temperature",
        "topic": "326project/smartbuilding/hvac/hotairduct/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 860,
        "wires": [
            [
                "61fe4cbc93a44718"
            ]
        ]
    },
    {
        "id": "c02cd22fd4947226",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/coldairduct/temperature",
        "topic": "326project/smartbuilding/hvac/coldairduct/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1140,
        "wires": [
            [
                "b7ecc778cadb77db"
            ]
        ]
    },
    {
        "id": "f6045a1b2c81c7a9",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/control/0/1/ahu/blower",
        "topic": "326project/smartbuilding/hvac/control/0/1/ahu/blower",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 1060,
        "y": 2180,
        "wires": []
    },
    {
        "id": "a1cf9995467844f4",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/control/0/0/ahu/blower",
        "topic": "326project/smartbuilding/hvac/control/0/0/ahu/blower",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 1160,
        "y": 1480,
        "wires": []
    },
    {
        "id": "3307501fbc5c5dff",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/control/boiler",
        "topic": "326project/smartbuilding/hvac/control/boiler",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 1090,
        "y": 780,
        "wires": []
    },
    {
        "id": "f8edf6318f195edb",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/control/chiller",
        "topic": "326project/smartbuilding/hvac/control/chiller",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 1090,
        "y": 1040,
        "wires": []
    },
    {
        "id": "998df38a2cfdc5b1",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/occupancy/0/0/count",
        "topic": "326project/smartbuilding/occupancy/0/0/count",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1400,
        "wires": [
            [
                "46dd8086143f0018"
            ]
        ]
    },
    {
        "id": "673b66ec5c823d27",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/occupancy/0/1/count",
        "topic": "326project/smartbuilding/occupancy/0/1/count",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 2120,
        "wires": [
            [
                "3a16d0e0cdfaab00"
            ]
        ]
    },
    {
        "id": "2bff1aee57f02ae9",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/state/boiler",
        "topic": "326project/smartbuilding/hvac/state/boiler",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 680,
        "wires": [
            [
                "c63213f887109608"
            ]
        ]
    },
    {
        "id": "7669230e6d7d3fb7",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/state/chiller",
        "topic": "326project/smartbuilding/hvac/state/chiller",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 940,
        "wires": [
            [
                "3817784a08b43e1f"
            ]
        ]
    },
    {
        "id": "a5ec03d063b48ab1",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/control/temp-thresh-coldairduct",
        "topic": "326project/smartbuilding/hvac/control/temp-thresh-coldairduct",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 1020,
        "y": 200,
        "wires": []
    },
    {
        "id": "3eaac0e54ae08a8e",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/control/temp-thresh-hotairduct",
        "topic": "326project/smartbuilding/hvac/control/temp-thresh-hotairduct",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 1020,
        "y": 80,
        "wires": []
    },
    {
        "id": "67e1f843590a93e5",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/0/control/ahu/blower",
        "topic": "326project/smartbuilding/hvac/0/0/control/ahu/blower",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1480,
        "wires": [
            [
                "936493667f8985eb",
                "1e58134b30079b76"
            ]
        ]
    },
    {
        "id": "17e317e9428836a1",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/1/control/ahu/blower",
        "topic": "326project/smartbuilding/hvac/0/1/control/ahu/blower",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 2180,
        "wires": [
            [
                "213c622444c3bed7",
                "2533180498e46492"
            ]
        ]
    },
    {
        "id": "4e4840412b6ab3a8",
        "type": "ui_chart",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "a6fdaffffc5d92b7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Hot Air Duct Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "a01ac301ca5433aa",
        "type": "ui_chart",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "f7c120bffca73d37",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Cold Air Duct Temp.",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "0a76089283cf68ec",
        "type": "ui_gauge",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "d7ce6ed80fc1fe19",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Current Threshold(hot air duct)",
        "label": "Celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "612c6f4c7d7e9a4f",
        "type": "ui_gauge",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "501dc4d2cc2c91f0",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Current Threshold(cold air duct)",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-50",
        "max": "0",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "ac6407dd65613381",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/0/state/ahu/blower",
        "topic": "326project/smartbuilding/hvac/0/0/state/ahu/blower",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1740,
        "wires": [
            [
                "715de2a403a203d3"
            ]
        ]
    },
    {
        "id": "5fd8e2a07ef2be32",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/0/state/ahu/humidifier",
        "topic": "326project/smartbuilding/hvac/0/0/state/ahu/humidifier",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 1780,
        "wires": [
            [
                "3fece25286b9f520"
            ]
        ]
    },
    {
        "id": "4e6ae6ad0b54ce3b",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/0/state/ahu/airremover",
        "topic": "326project/smartbuilding/hvac/0/0/state/ahu/airremover",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 1820,
        "wires": [
            [
                "eafc67506d7247b9"
            ]
        ]
    },
    {
        "id": "f0800fcdb4184c54",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Blower State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1090,
        "y": 1740,
        "wires": []
    },
    {
        "id": "499062407d8c5213",
        "type": "ui_switch",
        "z": "09f3a2480852cfab",
        "d": true,
        "name": "",
        "label": "Blower ON/OFF",
        "tooltip": "",
        "group": "a3378c8178c980c8",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 660,
        "y": 1620,
        "wires": [
            [
                "862765232b49af3f"
            ]
        ]
    },
    {
        "id": "2aa91ff188961438",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidifier State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1100,
        "y": 1780,
        "wires": []
    },
    {
        "id": "5594339a7f2d6d26",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air Remover State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1110,
        "y": 1820,
        "wires": []
    },
    {
        "id": "7a383911095b5ee0",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/1/state/ahu/blower",
        "topic": "326project/smartbuilding/hvac/0/1/state/ahu/blower",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 2440,
        "wires": [
            [
                "23d7449e8e1846db"
            ]
        ]
    },
    {
        "id": "741368eeea2cdb20",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/1/state/ahu/humidifier",
        "topic": "326project/smartbuilding/hvac/0/1/state/ahu/humidifier",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 2480,
        "wires": [
            [
                "d5484728cc64659c"
            ]
        ]
    },
    {
        "id": "f5f420793c18a822",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/0/1/state/ahu/airremover",
        "topic": "326project/smartbuilding/hvac/0/1/state/ahu/airremover",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 2520,
        "wires": [
            [
                "ebd6e118db051ab1"
            ]
        ]
    },
    {
        "id": "4f3418956f00c80f",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Blower State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1110,
        "y": 2440,
        "wires": []
    },
    {
        "id": "4b9bae63ae763a5d",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidifier State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1120,
        "y": 2480,
        "wires": []
    },
    {
        "id": "0580f373ec30b3f5",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air Remover State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1130,
        "y": 2520,
        "wires": []
    },
    {
        "id": "f4265ec73ae9eef1",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 13",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"temp\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1220,
        "wires": [
            [
                "c00420f28ec67eaf"
            ]
        ]
    },
    {
        "id": "2bd92fc171085562",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 14",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"humidity\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1280,
        "wires": [
            [
                "86620337f662cd88"
            ]
        ]
    },
    {
        "id": "92046dec88d73608",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 15",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"pressure\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1340,
        "wires": [
            [
                "b704229fb7468d9e"
            ]
        ]
    },
    {
        "id": "46dd8086143f0018",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 16",
        "func": "var data = JSON.parse(msg.payload);\nvar count = data[\"count\"];\nif(count>0){\n    msg.payload = \"OCCUPIED\";\n}else{\n    msg.payload = \"NOT OCCUPIED\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1400,
        "wires": [
            [
                "a3dd95f4de2e129d"
            ]
        ]
    },
    {
        "id": "ecec15b4f82d2cb8",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 17",
        "func": "var state = msg.payload\nif(state){\n    msg.payload = \"ON\";\n}else{\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 680,
        "wires": [
            [
                "9495ca76aff72a9f"
            ]
        ]
    },
    {
        "id": "ea2756168c48587a",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 18",
        "func": "var state = msg.payload\nif(state){\n    msg.payload = \"ON\";\n}else{\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 940,
        "wires": [
            [
                "ce213b59845e24df"
            ]
        ]
    },
    {
        "id": "9459ebf01047e959",
        "type": "inject",
        "z": "09f3a2480852cfab",
        "name": "Default",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-25",
        "payloadType": "num",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "b4f92e75d35e1820"
            ]
        ]
    },
    {
        "id": "4d7529be2ca1d2ee",
        "type": "inject",
        "z": "09f3a2480852cfab",
        "name": "Default",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "5ad2e8b8d9ee8d6f"
            ]
        ]
    },
    {
        "id": "9310469ca5b3c938",
        "type": "ui_numeric",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Set Default Room temprature",
        "tooltip": "",
        "group": "d504e8555a56184a",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "step": 1,
        "className": "",
        "x": 380,
        "y": 360,
        "wires": [
            [
                "9546117392814b8e",
                "c08860fefa274507"
            ]
        ]
    },
    {
        "id": "93726860625e2d82",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/control/temp-thresh",
        "topic": "326project/smartbuilding/hvac/control/temp-thresh",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "705d54717690593b",
        "type": "inject",
        "z": "09f3a2480852cfab",
        "name": "Default",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "24",
        "payloadType": "num",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "9310469ca5b3c938"
            ]
        ]
    },
    {
        "id": "9546117392814b8e",
        "type": "ui_gauge",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "d504e8555a56184a",
        "order": 7,
        "width": "4",
        "height": "4",
        "gtype": "donut",
        "title": "Default Room Temp.",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#0300b3",
            "#00bfe6",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 380,
        "wires": []
    },
    {
        "id": "7ca3034377fb3528",
        "type": "ui_numeric",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Set Humidity Threshold",
        "tooltip": "",
        "group": "d504e8555a56184a",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "260428e06d50173b",
                "0335d061d173c832"
            ]
        ]
    },
    {
        "id": "849bd00c82804b07",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/control/humid-thresh",
        "topic": "326project/smartbuilding/hvac/control/humid-thresh",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 990,
        "y": 440,
        "wires": []
    },
    {
        "id": "2f8deadc72f05757",
        "type": "inject",
        "z": "09f3a2480852cfab",
        "name": "Default",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "40",
        "payloadType": "num",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "7ca3034377fb3528"
            ]
        ]
    },
    {
        "id": "260428e06d50173b",
        "type": "ui_gauge",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "d504e8555a56184a",
        "order": 9,
        "width": "4",
        "height": "4",
        "gtype": "wave",
        "title": "Humidity Threshold",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 500,
        "wires": []
    },
    {
        "id": "b8e2862717b19787",
        "type": "ui_numeric",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Set Flow Rate Threshold",
        "tooltip": "",
        "group": "d504e8555a56184a",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "20",
        "step": 1,
        "className": "",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "cb88526c1a580231",
                "92ac640bec818c5a"
            ]
        ]
    },
    {
        "id": "fe482ee59f213de5",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/control/humid-thresh",
        "topic": "326project/smartbuilding/hvac/control/humid-thresh",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 990,
        "y": 560,
        "wires": []
    },
    {
        "id": "be43b55e36e8e9e5",
        "type": "inject",
        "z": "09f3a2480852cfab",
        "name": "Default",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "b8e2862717b19787"
            ]
        ]
    },
    {
        "id": "cb88526c1a580231",
        "type": "ui_gauge",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "d504e8555a56184a",
        "order": 11,
        "width": "4",
        "height": "4",
        "gtype": "compass",
        "title": "Flowrate Threshold",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 620,
        "wires": []
    },
    {
        "id": "06b323cad7f7f792",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 19",
        "func": "var state = msg.payload\nif (state) {\n    msg.payload = {\n        \"timestamp\" : Date.now(),\n        \"state\":1\n    }\n} else {\n    msg.payload = {\n        \"timestamp\": Date.now(),\n        \"state\": 0\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 780,
        "wires": [
            [
                "3307501fbc5c5dff"
            ]
        ]
    },
    {
        "id": "61fe4cbc93a44718",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 20",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"temp\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 860,
        "wires": [
            [
                "4e4840412b6ab3a8"
            ]
        ]
    },
    {
        "id": "8b056c6afd0fc72e",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 21",
        "func": "var state = msg.payload\nif (state) {\n    msg.payload = {\n        \"timestamp\" : Date.now(),\n        \"state\":1\n    }\n} else {\n    msg.payload = {\n        \"timestamp\": Date.now(),\n        \"state\": 0\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1040,
        "wires": [
            [
                "f8edf6318f195edb"
            ]
        ]
    },
    {
        "id": "b7ecc778cadb77db",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 22",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"temp\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1140,
        "wires": [
            [
                "a01ac301ca5433aa"
            ]
        ]
    },
    {
        "id": "715de2a403a203d3",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 23",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"state\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1740,
        "wires": [
            [
                "862765232b49af3f"
            ]
        ]
    },
    {
        "id": "3fece25286b9f520",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 24",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"state\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1780,
        "wires": [
            [
                "bd7ff61651a6edec"
            ]
        ]
    },
    {
        "id": "eafc67506d7247b9",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 25",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"state\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1820,
        "wires": [
            [
                "54a2d0e14a82de21"
            ]
        ]
    },
    {
        "id": "862765232b49af3f",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 26",
        "func": "if (msg.payload) {\n    msg.payload = \"ON\";\n}\nelse {\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1740,
        "wires": [
            [
                "f0800fcdb4184c54"
            ]
        ]
    },
    {
        "id": "bd7ff61651a6edec",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 27",
        "func": "if (msg.payload) {\n    msg.payload = \"ON\";\n}\nelse {\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1780,
        "wires": [
            [
                "2aa91ff188961438"
            ]
        ]
    },
    {
        "id": "54a2d0e14a82de21",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 28",
        "func": "if (msg.payload) {\n    msg.payload = \"ON\";\n}\nelse {\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1820,
        "wires": [
            [
                "5594339a7f2d6d26"
            ]
        ]
    },
    {
        "id": "1e58134b30079b76",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 29",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"speed\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1480,
        "wires": [
            [
                "9125efb4d38e7ecf"
            ]
        ]
    },
    {
        "id": "30200e39d88053b0",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 30",
        "func": "var speed = msg.payload;\nmsg.payload={\n    \"timestamp\" : Date.now(),\n    \"speed\":speed\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1540,
        "wires": [
            [
                "a1cf9995467844f4"
            ]
        ]
    },
    {
        "id": "ce81cc85c1b73af6",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 31",
        "func": "var speed = msg.payload;\nmsg.payload={\n    \"timestamp\" : Date.now(),\n    \"speed\":speed\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 2260,
        "wires": [
            [
                "f6045a1b2c81c7a9"
            ]
        ]
    },
    {
        "id": "23d7449e8e1846db",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 32",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"state\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 2440,
        "wires": [
            [
                "dc530c43303d21e9"
            ]
        ]
    },
    {
        "id": "d5484728cc64659c",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 33",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"state\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 2480,
        "wires": [
            [
                "309698ac7abf9455"
            ]
        ]
    },
    {
        "id": "ebd6e118db051ab1",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 34",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"state\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 2520,
        "wires": [
            [
                "cd2a1828f238fbdf"
            ]
        ]
    },
    {
        "id": "dc530c43303d21e9",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 35",
        "func": "if (msg.payload) {\n    msg.payload = \"ON\";\n}\nelse {\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 2440,
        "wires": [
            [
                "4f3418956f00c80f"
            ]
        ]
    },
    {
        "id": "309698ac7abf9455",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 36",
        "func": "if (msg.payload) {\n    msg.payload = \"ON\";\n}\nelse {\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 2480,
        "wires": [
            [
                "4b9bae63ae763a5d"
            ]
        ]
    },
    {
        "id": "cd2a1828f238fbdf",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 37",
        "func": "if (msg.payload) {\n    msg.payload = \"ON\";\n}\nelse {\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 2520,
        "wires": [
            [
                "0580f373ec30b3f5"
            ]
        ]
    },
    {
        "id": "ab18ec6ec7d8af46",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 38",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"temp\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "1c8460474ec94bc8",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 39",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"humidity\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "ab708f28e7e13615",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 40",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"pressure\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "c39b3ddb13ae23ae",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 41",
        "func": "var data = JSON.parse(msg.payload);\nvar count = data[\"count\"];\nif(count > 0) {\n    msg.payload = \"OCCUPIED\";\n} else {\n    msg.payload = \"NOT OCCUPIED\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "2533180498e46492",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 42",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"speed\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2180,
        "wires": [
            [
                "e63b5840f4ce4ecb"
            ]
        ]
    },
    {
        "id": "3817784a08b43e1f",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 43",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"state\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 940,
        "wires": [
            [
                "ea2756168c48587a"
            ]
        ]
    },
    {
        "id": "c63213f887109608",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 44",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data[\"state\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 680,
        "wires": [
            [
                "ecec15b4f82d2cb8"
            ]
        ]
    },
    {
        "id": "eecee2f8064b19c2",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 45",
        "func": "var val = msg.payload\nmsg.payload = {\n    \"timestamp\": Date.now(),\n    \"temp\": val\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 80,
        "wires": [
            [
                "3eaac0e54ae08a8e"
            ]
        ]
    },
    {
        "id": "9096d085152a31e3",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 46",
        "func": "var val = msg.payload\nmsg.payload = {\n    \"timestamp\": Date.now(),\n    \"temp\": val\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 200,
        "wires": [
            [
                "a5ec03d063b48ab1"
            ]
        ]
    },
    {
        "id": "c08860fefa274507",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 47",
        "func": "var val = msg.payload\nmsg.payload = {\n    \"timestamp\": Date.now(),\n    \"temp\": val\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "93726860625e2d82"
            ]
        ]
    },
    {
        "id": "0335d061d173c832",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 48",
        "func": "var val = msg.payload\nmsg.payload = {\n    \"timestamp\": Date.now(),\n    \"humid\": val\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 440,
        "wires": [
            [
                "849bd00c82804b07"
            ]
        ]
    },
    {
        "id": "92ac640bec818c5a",
        "type": "function",
        "z": "09f3a2480852cfab",
        "name": "function 49",
        "func": "var val = msg.payload\nmsg.payload = {\n    \"timestamp\": Date.now(),\n    \"flowrate\": val\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 560,
        "wires": [
            [
                "fe482ee59f213de5"
            ]
        ]
    },
    {
        "id": "5eea21b6623d51db",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "68a0e302837ef7cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "*",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 370,
        "y": 2600,
        "wires": []
    },
    {
        "id": "b3653732b1983a67",
        "type": "inject",
        "z": "09f3a2480852cfab",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "NOT AVAILABLE",
        "payloadType": "str",
        "x": 190,
        "y": 2600,
        "wires": [
            [
                "5eea21b6623d51db"
            ]
        ]
    },
    {
        "id": "d5987093e805665b",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a8ada1d3fa3b0368",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "*",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 370,
        "y": 2660,
        "wires": []
    },
    {
        "id": "e6ab82d69d5d7523",
        "type": "inject",
        "z": "09f3a2480852cfab",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "NOT AVAILABLE",
        "payloadType": "str",
        "x": 190,
        "y": 2660,
        "wires": [
            [
                "d5987093e805665b"
            ]
        ]
    },
    {
        "id": "d4aaed3cc46a1fba",
        "type": "ui_spacer",
        "z": "09f3a2480852cfab",
        "name": "spacer",
        "group": "a3378c8178c980c8",
        "order": 7,
        "width": "4",
        "height": "3"
    },
    {
        "id": "35cea001692dd536",
        "type": "ui_spacer",
        "z": "09f3a2480852cfab",
        "name": "spacer",
        "group": "a3378c8178c980c8",
        "order": 5,
        "width": "4",
        "height": "3"
    },
    {
        "id": "b64a77afa42d854a",
        "type": "ui_spacer",
        "z": "09f3a2480852cfab",
        "name": "spacer",
        "group": "bf8e161457509e95",
        "order": 5,
        "width": "4",
        "height": "3"
    },
    {
        "id": "25f390ad2dbf1752",
        "type": "ui_spacer",
        "z": "09f3a2480852cfab",
        "name": "spacer",
        "group": "bf8e161457509e95",
        "order": 7,
        "width": "4",
        "height": "3"
    },
    {
        "id": "61c60a65f8b77da5",
        "type": "ui_spacer",
        "z": "09f3a2480852cfab",
        "name": "spacer",
        "group": "d504e8555a56184a",
        "order": 6,
        "width": "5",
        "height": "4"
    },
    {
        "id": "f39d26e4249fe1c7",
        "type": "ui_spacer",
        "z": "09f3a2480852cfab",
        "name": "spacer",
        "group": "d504e8555a56184a",
        "order": 8,
        "width": "1",
        "height": "5"
    },
    {
        "id": "bce50f55076c371e",
        "type": "ui_spacer",
        "z": "09f3a2480852cfab",
        "name": "spacer",
        "group": "d504e8555a56184a",
        "order": 10,
        "width": "1",
        "height": "5"
    },
    {
        "id": "d7ce6ed80fc1fe19",
        "type": "ui_group",
        "name": "Boiler Control",
        "tab": "c951817ea502d2a9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "501dc4d2cc2c91f0",
        "type": "ui_group",
        "name": "Chiller Control",
        "tab": "c951817ea502d2a9",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d504e8555a56184a",
        "type": "ui_group",
        "name": "Setup Thresholds",
        "tab": "c951817ea502d2a9",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6fdaffffc5d92b7",
        "type": "ui_group",
        "name": "Boiler State",
        "tab": "c951817ea502d2a9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7c120bffca73d37",
        "type": "ui_group",
        "name": "Chiller State",
        "tab": "c951817ea502d2a9",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3378c8178c980c8",
        "type": "ui_group",
        "name": "Floor0/Room0",
        "tab": "c951817ea502d2a9",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "bf8e161457509e95",
        "type": "ui_group",
        "name": "Floor0/Room1",
        "tab": "c951817ea502d2a9",
        "order": 7,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "93a52709f8718a12",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto_326",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "61abc1473f6fc2e9",
        "type": "mqtt-broker",
        "name": "Localhost",
        "broker": "10.40.18.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "68a0e302837ef7cc",
        "type": "ui_group",
        "name": "Floor0/Room3",
        "tab": "c951817ea502d2a9",
        "order": 8,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a8ada1d3fa3b0368",
        "type": "ui_group",
        "name": "Floor0/Room4",
        "tab": "c951817ea502d2a9",
        "order": 9,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c951817ea502d2a9",
        "type": "ui_tab",
        "name": "HVAC System",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]