Group_A/nodered_flows/SCADA_Interface_test.json
[
    {
        "id": "491ef22e69dc375c",
        "type": "tab",
        "label": "Dashboard Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e4ac2e77c40739e",
        "type": "inject",
        "z": "491ef22e69dc375c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "db09456a7be8bc74"
            ]
        ]
    },
    {
        "id": "db09456a7be8bc74",
        "type": "mqtt out",
        "z": "491ef22e69dc375c",
        "name": "326project/smartbuilding/hvac/0/0/state/ahu/blower",
        "topic": "326project/smartbuilding/hvac/0/0/state/ahu/blower",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "57ad359fe431d0e1",
        "type": "inject",
        "z": "491ef22e69dc375c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "26c55f8a43d90b9c"
            ]
        ]
    },
    {
        "id": "26c55f8a43d90b9c",
        "type": "mqtt out",
        "z": "491ef22e69dc375c",
        "name": "326project/smartbuilding/hvac/0/0/state/ahu/humidifier",
        "topic": "326project/smartbuilding/hvac/0/0/state/ahu/humidifier",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "687f4d74e2910d7c",
        "type": "inject",
        "z": "491ef22e69dc375c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "x": 180,
        "y": 420,
        "wires": [
            [
                "5a4b6974e12215a1"
            ]
        ]
    },
    {
        "id": "5a4b6974e12215a1",
        "type": "mqtt out",
        "z": "491ef22e69dc375c",
        "name": "326project/smartbuilding/hvac/0/0/state/ahu/airremover",
        "topic": "326project/smartbuilding/hvac/0/0/state/ahu/airremover",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 500,
        "y": 420,
        "wires": []
    },
    {
        "id": "7019bac12f4b28ff",
        "type": "inject",
        "z": "491ef22e69dc375c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "aeffb5db10ae4e7d"
            ]
        ]
    },
    {
        "id": "aeffb5db10ae4e7d",
        "type": "mqtt out",
        "z": "491ef22e69dc375c",
        "name": "326project/smartbuilding/hvac/0/1/state/ahu/blower",
        "topic": "326project/smartbuilding/hvac/0/1/state/ahu/blower",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 490,
        "y": 540,
        "wires": []
    },
    {
        "id": "14b67e84bf42866c",
        "type": "inject",
        "z": "491ef22e69dc375c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "x": 180,
        "y": 600,
        "wires": [
            [
                "52e31957aa3b5abd"
            ]
        ]
    },
    {
        "id": "52e31957aa3b5abd",
        "type": "mqtt out",
        "z": "491ef22e69dc375c",
        "name": "326project/smartbuilding/hvac/0/1/state/ahu/humidifier",
        "topic": "326project/smartbuilding/hvac/0/1/state/ahu/humidifier",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "ee7b65111b9b8afe",
        "type": "inject",
        "z": "491ef22e69dc375c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "x": 180,
        "y": 660,
        "wires": [
            [
                "62475ccbb750c81a"
            ]
        ]
    },
    {
        "id": "62475ccbb750c81a",
        "type": "mqtt out",
        "z": "491ef22e69dc375c",
        "name": "326project/smartbuilding/hvac/0/1/state/ahu/airremover",
        "topic": "326project/smartbuilding/hvac/0/1/state/ahu/airremover",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 500,
        "y": 660,
        "wires": []
    },
    {
        "id": "eaaa1f742c97ba93",
        "type": "inject",
        "z": "491ef22e69dc375c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "f98bd31ab5a3a363"
            ]
        ]
    },
    {
        "id": "f98bd31ab5a3a363",
        "type": "mqtt out",
        "z": "491ef22e69dc375c",
        "name": "326project/smartbuilding/hvac/state/boiler",
        "topic": "326project/smartbuilding/hvac/state/boiler",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "a5c80ea94ca138fb",
        "type": "inject",
        "z": "491ef22e69dc375c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":0}",
        "payloadType": "json",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "75c2244abf2c9fb0"
            ]
        ]
    },
    {
        "id": "75c2244abf2c9fb0",
        "type": "mqtt out",
        "z": "491ef22e69dc375c",
        "name": "326project/smartbuilding/hvac/state/chiller",
        "topic": "326project/smartbuilding/hvac/state/chiller",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 460,
        "y": 140,
        "wires": []
    },
    {
        "id": "754a5662410298ba",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.40.18.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]