Group_A/nodered_flows/SCADA_Interface.json
[
    {
        "id": "09f3a2480852cfab",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc9aa01afb8a4289",
        "type": "ui_button",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "d7ce6ed80fc1fe19",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "9495ca76aff72a9f",
                "3307501fbc5c5dff"
            ]
        ]
    },
    {
        "id": "580d51203182f597",
        "type": "ui_button",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "d7ce6ed80fc1fe19",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "3307501fbc5c5dff",
                "9495ca76aff72a9f"
            ]
        ]
    },
    {
        "id": "d6ede7a479588e5f",
        "type": "ui_button",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "501dc4d2cc2c91f0",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 520,
        "wires": [
            [
                "ce213b59845e24df",
                "f8edf6318f195edb"
            ]
        ]
    },
    {
        "id": "48d603e13536daa5",
        "type": "ui_button",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "501dc4d2cc2c91f0",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 560,
        "wires": [
            [
                "ce213b59845e24df",
                "f8edf6318f195edb"
            ]
        ]
    },
    {
        "id": "5ad2e8b8d9ee8d6f",
        "type": "ui_numeric",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Hot Air Duct Threshold Temprature",
        "tooltip": "Set the threshold temprature of hot air duct in celsius",
        "group": "d504e8555a56184a",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 880,
        "y": 80,
        "wires": [
            [
                "3eaac0e54ae08a8e",
                "0a76089283cf68ec"
            ]
        ]
    },
    {
        "id": "b4f92e75d35e1820",
        "type": "ui_numeric",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Cold Air Duct Threshold Temprature",
        "tooltip": "Set the threshold temprature of cold air duct in celsius",
        "group": "d504e8555a56184a",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "-50",
        "max": "0",
        "step": 1,
        "className": "",
        "x": 880,
        "y": 400,
        "wires": [
            [
                "a5ec03d063b48ab1",
                "612c6f4c7d7e9a4f"
            ]
        ]
    },
    {
        "id": "9495ca76aff72a9f",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a6fdaffffc5d92b7",
        "order": 1,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Current State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "ce213b59845e24df",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "f7c120bffca73d37",
        "order": 1,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Current State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "c00420f28ec67eaf",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Temprature",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "86620337f662cd88",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 600,
        "y": 700,
        "wires": []
    },
    {
        "id": "b704229fb7468d9e",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Air Pressure",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 760,
        "wires": []
    },
    {
        "id": "a3dd95f4de2e129d",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Occupancy Status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 630,
        "y": 820,
        "wires": []
    },
    {
        "id": "936493667f8985eb",
        "type": "ui_numeric",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Set Blower Speed",
        "tooltip": "",
        "group": "a3378c8178c980c8",
        "order": 8,
        "width": "0",
        "height": "0",
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} or {{msg.blowespeed}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 610,
        "y": 920,
        "wires": [
            [
                "9125efb4d38e7ecf",
                "a1cf9995467844f4"
            ]
        ]
    },
    {
        "id": "410d52ba27d5e8c0",
        "type": "ui_switch",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Humidifier ON/OFF",
        "tooltip": "",
        "group": "a3378c8178c980c8",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 1000,
        "wires": [
            [
                "a1cf9995467844f4",
                "2aa91ff188961438"
            ]
        ]
    },
    {
        "id": "716d683613bb1e39",
        "type": "ui_switch",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Air Remover ON/OFF",
        "tooltip": "",
        "group": "a3378c8178c980c8",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 1040,
        "wires": [
            [
                "a1cf9995467844f4",
                "5594339a7f2d6d26"
            ]
        ]
    },
    {
        "id": "9125efb4d38e7ecf",
        "type": "ui_gauge",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "a3378c8178c980c8",
        "order": 6,
        "width": "4",
        "height": "3",
        "gtype": "donut",
        "title": "Blower Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 880,
        "wires": []
    },
    {
        "id": "316a4cd61a6efa30",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Temprature",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 590,
        "y": 1180,
        "wires": []
    },
    {
        "id": "720bf4fe65b3c41f",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 580,
        "y": 1240,
        "wires": []
    },
    {
        "id": "c049caf8a2079659",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Air Pressure",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 590,
        "y": 1300,
        "wires": []
    },
    {
        "id": "3a16d0e0cdfaab00",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Occupancy Status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 1360,
        "wires": []
    },
    {
        "id": "213c622444c3bed7",
        "type": "ui_numeric",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Set Blower Speed",
        "tooltip": "",
        "group": "bf8e161457509e95",
        "order": 8,
        "width": "0",
        "height": "0",
        "wrap": false,
        "passthru": true,
        "topic": "blower_speed",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 470,
        "y": 1520,
        "wires": [
            [
                "e63b5840f4ce4ecb",
                "f6045a1b2c81c7a9"
            ]
        ]
    },
    {
        "id": "fc60dd29cae3c0a9",
        "type": "ui_switch",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Blower ON/OFF",
        "tooltip": "",
        "group": "bf8e161457509e95",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 460,
        "y": 1560,
        "wires": [
            [
                "f6045a1b2c81c7a9",
                "4f3418956f00c80f"
            ]
        ]
    },
    {
        "id": "73a87e2b959d528e",
        "type": "ui_switch",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Humidifier ON/OFF",
        "tooltip": "",
        "group": "bf8e161457509e95",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 470,
        "y": 1600,
        "wires": [
            [
                "f6045a1b2c81c7a9",
                "4b9bae63ae763a5d"
            ]
        ]
    },
    {
        "id": "99e6ff60e0dfc6da",
        "type": "ui_switch",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Air Remover ON/OFF",
        "tooltip": "",
        "group": "bf8e161457509e95",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 480,
        "y": 1640,
        "wires": [
            [
                "f6045a1b2c81c7a9",
                "0580f373ec30b3f5"
            ]
        ]
    },
    {
        "id": "e63b5840f4ce4ecb",
        "type": "ui_gauge",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "bf8e161457509e95",
        "order": 6,
        "width": "4",
        "height": "3",
        "gtype": "donut",
        "title": "Blower Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 460,
        "y": 1480,
        "wires": []
    },
    {
        "id": "c457e31b8b45ec1a",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/1/2/pressure",
        "topic": "326project/smartbuilding/hvac/1/2/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1300,
        "wires": [
            [
                "c049caf8a2079659"
            ]
        ]
    },
    {
        "id": "53e8a261b1a41616",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/1/2/humidity",
        "topic": "326project/smartbuilding/hvac/1/2/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1240,
        "wires": [
            [
                "720bf4fe65b3c41f"
            ]
        ]
    },
    {
        "id": "3eed936e78f0bf40",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/1/2/temperature",
        "topic": "326project/smartbuilding/hvac/1/2/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1180,
        "wires": [
            [
                "316a4cd61a6efa30"
            ]
        ]
    },
    {
        "id": "900af982fb4b0a2e",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/1/1/pressure",
        "topic": "326project/smartbuilding/hvac/1/1/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "b704229fb7468d9e"
            ]
        ]
    },
    {
        "id": "1251909a6f4a4fde",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/1/1/humidity",
        "topic": "326project/smartbuilding/hvac/1/1/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 700,
        "wires": [
            [
                "86620337f662cd88"
            ]
        ]
    },
    {
        "id": "478f58bda2d08c81",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/1/1/temperature",
        "topic": "326project/smartbuilding/hvac/1/1/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "c00420f28ec67eaf"
            ]
        ]
    },
    {
        "id": "208b9193472e8043",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/sensor/temperature/hotairduct",
        "topic": "326project/smartbuilding/hvac/sensor/temperature/hotairduct",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "4e4840412b6ab3a8"
            ]
        ]
    },
    {
        "id": "c02cd22fd4947226",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/sensor/temperature/coldairduct",
        "topic": "326project/smartbuilding/hvac/sensor/temperature/coldairduct",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 500,
        "wires": [
            [
                "a01ac301ca5433aa"
            ]
        ]
    },
    {
        "id": "f6045a1b2c81c7a9",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/control/1/2/ahu",
        "topic": "326project/smartbuilding/hvac/scada/control/1/2/ahu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 880,
        "y": 1560,
        "wires": []
    },
    {
        "id": "a1cf9995467844f4",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/control/1/1/ahu",
        "topic": "326project/smartbuilding/hvac/scada/control/1/1/ahu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 1000,
        "y": 980,
        "wires": []
    },
    {
        "id": "3307501fbc5c5dff",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/control/boiler",
        "topic": "326project/smartbuilding/hvac/scada/control/boiler",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "f8edf6318f195edb",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/control/chiller",
        "topic": "326project/smartbuilding/hvac/scada/control/chiller",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 890,
        "y": 580,
        "wires": []
    },
    {
        "id": "998df38a2cfdc5b1",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/occupancy/1/1/rfid",
        "topic": "326project/smartbuilding/occupancy/1/1/rfid",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 820,
        "wires": [
            [
                "a3dd95f4de2e129d"
            ]
        ]
    },
    {
        "id": "673b66ec5c823d27",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/occupancy/1/2/rfid",
        "topic": "326project/smartbuilding/occupancy/1/2/rfid",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1360,
        "wires": [
            [
                "3a16d0e0cdfaab00"
            ]
        ]
    },
    {
        "id": "2bff1aee57f02ae9",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/state/boiler",
        "topic": "326project/smartbuilding/hvac/scada/state/boiler",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 40,
        "wires": [
            [
                "9495ca76aff72a9f"
            ]
        ]
    },
    {
        "id": "7669230e6d7d3fb7",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/state/chiller",
        "topic": "326project/smartbuilding/hvac/scada/state/chiller",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "ce213b59845e24df"
            ]
        ]
    },
    {
        "id": "a5ec03d063b48ab1",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/control/cold_threshold",
        "topic": "326project/smartbuilding/hvac/scada/control/cold_threshold",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 1300,
        "y": 340,
        "wires": []
    },
    {
        "id": "3eaac0e54ae08a8e",
        "type": "mqtt out",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/control/hot_threshold",
        "topic": "326project/smartbuilding/hvac/scada/control/hot_threshold",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61abc1473f6fc2e9",
        "x": 1290,
        "y": 20,
        "wires": []
    },
    {
        "id": "67e1f843590a93e5",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/state/1/1/ahu",
        "topic": "326project/smartbuilding/hvac/scada/state/1/1/ahu",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 880,
        "wires": [
            [
                "9125efb4d38e7ecf",
                "936493667f8985eb"
            ]
        ]
    },
    {
        "id": "17e317e9428836a1",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/state/1/2/ahu",
        "topic": "326project/smartbuilding/hvac/scada/state/1/2/ahu",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1420,
        "wires": [
            [
                "e63b5840f4ce4ecb",
                "213c622444c3bed7"
            ]
        ]
    },
    {
        "id": "4e4840412b6ab3a8",
        "type": "ui_chart",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "a6fdaffffc5d92b7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Hot Air Duct Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a01ac301ca5433aa",
        "type": "ui_chart",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "f7c120bffca73d37",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Cold Air Duct Temp.",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0a76089283cf68ec",
        "type": "ui_gauge",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "d7ce6ed80fc1fe19",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Current Threshold(hot)",
        "label": "Celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1180,
        "y": 140,
        "wires": []
    },
    {
        "id": "612c6f4c7d7e9a4f",
        "type": "ui_gauge",
        "z": "09f3a2480852cfab",
        "name": "",
        "group": "501dc4d2cc2c91f0",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Current Threshold(cold)",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-50",
        "max": "0",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1190,
        "y": 460,
        "wires": []
    },
    {
        "id": "ac6407dd65613381",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/state/1/1/ahu/blower",
        "topic": "326project/smartbuilding/hvac/scada/state/1/1/ahu/blower",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 960,
        "wires": [
            [
                "f0800fcdb4184c54"
            ]
        ]
    },
    {
        "id": "5fd8e2a07ef2be32",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/state/1/1/ahu/humidifier",
        "topic": "326project/smartbuilding/hvac/scada/state/1/1/ahu/humidifier",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1000,
        "wires": [
            [
                "2aa91ff188961438"
            ]
        ]
    },
    {
        "id": "4e6ae6ad0b54ce3b",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/state/1/1/ahu/airremover",
        "topic": "326project/smartbuilding/hvac/scada/state/1/1/ahu/airremover",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1040,
        "wires": [
            [
                "5594339a7f2d6d26"
            ]
        ]
    },
    {
        "id": "f0800fcdb4184c54",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Blower State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 1060,
        "wires": []
    },
    {
        "id": "499062407d8c5213",
        "type": "ui_switch",
        "z": "09f3a2480852cfab",
        "name": "",
        "label": "Blower ON/OFF",
        "tooltip": "",
        "group": "a3378c8178c980c8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 960,
        "wires": [
            [
                "a1cf9995467844f4",
                "f0800fcdb4184c54"
            ]
        ]
    },
    {
        "id": "2aa91ff188961438",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidifier State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5594339a7f2d6d26",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "a3378c8178c980c8",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air Remover State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 890,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7a383911095b5ee0",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/state/1/1/ahu/blower",
        "topic": "326project/smartbuilding/hvac/scada/state/1/1/ahu/blower",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1720,
        "wires": [
            [
                "4f3418956f00c80f"
            ]
        ]
    },
    {
        "id": "741368eeea2cdb20",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/state/1/1/ahu/humidifier",
        "topic": "326project/smartbuilding/hvac/scada/state/1/1/ahu/humidifier",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 1760,
        "wires": [
            [
                "4b9bae63ae763a5d"
            ]
        ]
    },
    {
        "id": "f5f420793c18a822",
        "type": "mqtt in",
        "z": "09f3a2480852cfab",
        "name": "326project/smartbuilding/hvac/scada/state/1/1/ahu/airremover",
        "topic": "326project/smartbuilding/hvac/scada/state/1/1/ahu/airremover",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 1800,
        "wires": [
            [
                "0580f373ec30b3f5"
            ]
        ]
    },
    {
        "id": "4f3418956f00c80f",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Blower State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 1720,
        "wires": []
    },
    {
        "id": "4b9bae63ae763a5d",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidifier State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 1760,
        "wires": []
    },
    {
        "id": "0580f373ec30b3f5",
        "type": "ui_text",
        "z": "09f3a2480852cfab",
        "group": "bf8e161457509e95",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air Remover State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 1800,
        "wires": []
    },
    {
        "id": "a9a793be31851a8c",
        "type": "ui_spacer",
        "z": "09f3a2480852cfab",
        "name": "spacer",
        "group": "d504e8555a56184a",
        "order": 3,
        "width": "24",
        "height": "1"
    },
    {
        "id": "d4aaed3cc46a1fba",
        "type": "ui_spacer",
        "z": "09f3a2480852cfab",
        "name": "spacer",
        "group": "a3378c8178c980c8",
        "order": 7,
        "width": "4",
        "height": "3"
    },
    {
        "id": "35cea001692dd536",
        "type": "ui_spacer",
        "z": "09f3a2480852cfab",
        "name": "spacer",
        "group": "a3378c8178c980c8",
        "order": 5,
        "width": "4",
        "height": "3"
    },
    {
        "id": "b64a77afa42d854a",
        "type": "ui_spacer",
        "z": "09f3a2480852cfab",
        "name": "spacer",
        "group": "bf8e161457509e95",
        "order": 5,
        "width": "4",
        "height": "3"
    },
    {
        "id": "25f390ad2dbf1752",
        "type": "ui_spacer",
        "z": "09f3a2480852cfab",
        "name": "spacer",
        "group": "bf8e161457509e95",
        "order": 7,
        "width": "4",
        "height": "3"
    },
    {
        "id": "d7ce6ed80fc1fe19",
        "type": "ui_group",
        "name": "Boiler Control",
        "tab": "c951817ea502d2a9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "501dc4d2cc2c91f0",
        "type": "ui_group",
        "name": "Chiller Control",
        "tab": "c951817ea502d2a9",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d504e8555a56184a",
        "type": "ui_group",
        "name": "Setup Thresholds",
        "tab": "c951817ea502d2a9",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6fdaffffc5d92b7",
        "type": "ui_group",
        "name": "Boiler State",
        "tab": "c951817ea502d2a9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7c120bffca73d37",
        "type": "ui_group",
        "name": "Chiller State",
        "tab": "c951817ea502d2a9",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3378c8178c980c8",
        "type": "ui_group",
        "name": "ControlArea01",
        "tab": "c951817ea502d2a9",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "bf8e161457509e95",
        "type": "ui_group",
        "name": "ControlArea02",
        "tab": "c951817ea502d2a9",
        "order": 7,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "93a52709f8718a12",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto_326",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "61abc1473f6fc2e9",
        "type": "mqtt-broker",
        "name": "Localhost",
        "broker": "10.40.18.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c951817ea502d2a9",
        "type": "ui_tab",
        "name": "HVAC System",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]