Group_A/nodered_flows/Ventilation_Control.json
[
    {
        "id": "7ea2235092fd655a",
        "type": "tab",
        "label": "Ventilation in Rooms - Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac29f1d5f710530d",
        "type": "function",
        "z": "7ea2235092fd655a",
        "name": "Boiler Control Signal",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 220,
        "wires": [
            [
                "2237ad5555374ede",
                "b2b71d0e8c1d59eb",
                "5d6fd7de084feace",
                "3686e2dc59912bcb",
                "2d8356c3c08ff87e",
                "7c2dc408a97e9e94"
            ]
        ]
    },
    {
        "id": "001cdc976b616dc7",
        "type": "function",
        "z": "7ea2235092fd655a",
        "name": "Chiller Control Signal",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 280,
        "wires": [
            [
                "2237ad5555374ede",
                "b2b71d0e8c1d59eb",
                "46824488c996be24",
                "c21df3dc5ef24279",
                "8ddcfb39c6867e27",
                "63b4c6781ae0d2bb"
            ]
        ]
    },
    {
        "id": "0dbc9c5a76b44b02",
        "type": "function",
        "z": "7ea2235092fd655a",
        "name": "AHU Control Signal",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 340,
        "wires": [
            [
                "a4eb4c0e9ef9d255",
                "74d7c9ad6d958220"
            ]
        ]
    },
    {
        "id": "18c7da3bcde516fd",
        "type": "function",
        "z": "7ea2235092fd655a",
        "name": "Blower Control Signal",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 420,
        "wires": [
            [
                "2b911ec7d7672631",
                "a4239a20a69fcb36"
            ]
        ]
    },
    {
        "id": "2c31070146cf3402",
        "type": "mqtt in",
        "z": "7ea2235092fd655a",
        "name": "  326project/smartbuilding/hvac/<floorno>/<roomno>/temperature",
        "topic": "  326project/smartbuilding/hvac/<floorno>/<roomno>/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "ac29f1d5f710530d",
                "001cdc976b616dc7",
                "18c7da3bcde516fd"
            ]
        ]
    },
    {
        "id": "7485465452e8c330",
        "type": "mqtt in",
        "z": "7ea2235092fd655a",
        "name": "  326project/smartbuilding/hvac/<floorno>/<roomno>/humidity",
        "topic": "  326project/smartbuilding/hvac/<floorno>/<roomno>/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 280,
        "wires": [
            [
                "18c7da3bcde516fd"
            ]
        ]
    },
    {
        "id": "025aa791b4d5bde0",
        "type": "mqtt in",
        "z": "7ea2235092fd655a",
        "name": "  326project/smartbuilding/hvac/<floorno>/<roomno>/pressure",
        "topic": "  326project/smartbuilding/hvac/<floorno>/<roomno>/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 340,
        "wires": [
            [
                "0dbc9c5a76b44b02"
            ]
        ]
    },
    {
        "id": "2237ad5555374ede",
        "type": "mqtt out",
        "z": "7ea2235092fd655a",
        "name": "  326project/smartbuilding/hvac/<floorno>/<roomno>/control/set-temperature",
        "topic": "  326project/smartbuilding/hvac/<floorno>/<roomno>/control/set-temperature",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 1210,
        "y": 140,
        "wires": []
    },
    {
        "id": "a4eb4c0e9ef9d255",
        "type": "mqtt out",
        "z": "7ea2235092fd655a",
        "name": "  326project/smartbuilding/hvac/<floorno>/<roomno>/control/ahu/airflowrate",
        "topic": "  326project/smartbuilding/hvac/<floorno>/<roomno>/control/ahu/airflowrate",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 1200,
        "y": 380,
        "wires": []
    },
    {
        "id": "2b911ec7d7672631",
        "type": "mqtt out",
        "z": "7ea2235092fd655a",
        "name": "  326project/smartbuilding/hvac/<floorno>/<roomno>/control/ahu/blower",
        "topic": "  326project/smartbuilding/hvac/<floorno>/<roomno>/control/ahu/blower",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 1190,
        "y": 500,
        "wires": []
    },
    {
        "id": "b2b71d0e8c1d59eb",
        "type": "debug",
        "z": "7ea2235092fd655a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "74d7c9ad6d958220",
        "type": "debug",
        "z": "7ea2235092fd655a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 440,
        "wires": []
    },
    {
        "id": "a4239a20a69fcb36",
        "type": "debug",
        "z": "7ea2235092fd655a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "5d6fd7de084feace",
        "type": "mqtt out",
        "z": "7ea2235092fd655a",
        "name": "326project/smartbuilding/hvac/control/temp-thresh-hotairduct",
        "topic": "326project/smartbuilding/hvac/control/temp-thresh-hotairduct",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 1160,
        "y": 620,
        "wires": []
    },
    {
        "id": "3686e2dc59912bcb",
        "type": "debug",
        "z": "7ea2235092fd655a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 660,
        "wires": []
    },
    {
        "id": "2d8356c3c08ff87e",
        "type": "mqtt out",
        "z": "7ea2235092fd655a",
        "name": "326project/smartbuilding/hvac/control/boiler",
        "topic": "326project/smartbuilding/hvac/control/boiler",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 1110,
        "y": 40,
        "wires": []
    },
    {
        "id": "7c2dc408a97e9e94",
        "type": "debug",
        "z": "7ea2235092fd655a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 100,
        "wires": []
    },
    {
        "id": "46824488c996be24",
        "type": "mqtt out",
        "z": "7ea2235092fd655a",
        "name": "326project/smartbuilding/hvac/control/chiller",
        "topic": "326project/smartbuilding/hvac/control/chiller",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 1110,
        "y": 260,
        "wires": []
    },
    {
        "id": "c21df3dc5ef24279",
        "type": "debug",
        "z": "7ea2235092fd655a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "8ddcfb39c6867e27",
        "type": "mqtt out",
        "z": "7ea2235092fd655a",
        "name": "326project/smartbuilding/hvac/control/temp-thresh-coldairduct",
        "topic": "326project/smartbuilding/hvac/control/temp-thresh-coldairduct",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "754a5662410298ba",
        "x": 1160,
        "y": 720,
        "wires": []
    },
    {
        "id": "63b4c6781ae0d2bb",
        "type": "debug",
        "z": "7ea2235092fd655a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 780,
        "wires": []
    },
    {
        "id": "93a52709f8718a12",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto_326",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "754a5662410298ba",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.40.18.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]