Group_G/nodered/flows_fire.json
[
    {
        "id": "0286c62d85f26928",
        "type": "tab",
        "label": "Fire Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4ea5485f195e8c5",
        "type": "mqtt in",
        "z": "0286c62d85f26928",
        "name": "",
        "topic": "326project/smartbuilding/safety/0/1/pullstation",
        "qos": "0",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "4c316564786b9b33",
                "8d7c46e157f9d51c"
            ]
        ]
    },
    {
        "id": "d12561b0692b5a47",
        "type": "debug",
        "z": "0286c62d85f26928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "4c9eef40945093a0",
        "type": "function",
        "z": "0286c62d85f26928",
        "name": "",
        "func": "// Thresholds\nvar gas_thresh = 20;\nvar temp_thresh = 90;\n\nvar pull_state = msg.payload.state;\nvar gas_level = msg.payload.Gas;\nvar temp = msg.payload.temp;\nvar hvac_speed = msg.payload.speed;\n\n// Get the room and floor numbers\nvar arr = msg.topic.split(\"/\");\nvar floorno = arr[3];\nvar roomno = arr[4];\n\n// Initializing actuaters\nvar sprinkler = 0;\nvar fire_alarm = 0;\nvar indicate_lights = 0;\n\n// if pull station is triggered\nif (pull_state == 1 && pull_state != null){\n    sprinkler = 1;\n    fire_alarm = 1;\n    indicate_lights = 1;\n    hvac_speed = 0;\n}\n\n// if gas level exceeded without the pull station\nif (gas_level > gas_thresh && temp>temp_thresh){\n    indicate_light = 1;\n}\n\n// if gas level exceeded without the pull station \n// and the temperature is low.\nif (gas_level > gas_thresh && temp<temp_thresh){\n    hvac_speed += 0.2;\n}\n\nmsg.payload = [{\n    \"sprinkler\" : sprinkler,\n    \"fire_alarm\" : fire_alarm,\n    \"indicate_lights\" : indicate_lights,\n    \"floorno\" : parseInt(floorno),\n    \"roomno\" : parseInt(roomno),\n}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 420,
        "wires": [
            [
                "e6864a10c97755ad"
            ]
        ]
    },
    {
        "id": "10700e32c0880aa2",
        "type": "inject",
        "z": "0286c62d85f26928",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "326project/smartbuilding/safety/0/1/pullstation",
        "payload": "{\"state\" : 1}",
        "payloadType": "json",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "ecc7c1d2a43c66f9"
            ]
        ]
    },
    {
        "id": "ecc7c1d2a43c66f9",
        "type": "mqtt out",
        "z": "0286c62d85f26928",
        "name": "",
        "topic": "326project/smartbuilding/safety/0/1/pullstation",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93a52709f8718a12",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "4c316564786b9b33",
        "type": "json",
        "z": "0286c62d85f26928",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "4c9eef40945093a0"
            ]
        ]
    },
    {
        "id": "82e1197dc0372213",
        "type": "function",
        "z": "0286c62d85f26928",
        "name": "",
        "func": "var sprinkler_s = msg.payload[0].sprinkler;\nvar topic_arr = msg.topic.split(\"/\");\ntopic_arr[3] = msg.payload[0].floorno;\ntopic_arr[4] = msg.payload[0].roomno;\ntopic_arr[5] = \"sprinkler\";\nmsg.topic = topic_arr.join(\"/\");\nif(sprinkler_s){\n    msg.payload = [{\n        \"time\" : Date.now(),\n        \"state\" : 1,\n    }];\n}else{\n    msg.payload = [{\n        \"time\" : Date.now(),\n        \"state\" : 0,\n    }];\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 320,
        "wires": [
            [
                "d12561b0692b5a47",
                "4cf82f20c841c684"
            ]
        ]
    },
    {
        "id": "e6864a10c97755ad",
        "type": "json",
        "z": "0286c62d85f26928",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 770,
        "y": 380,
        "wires": [
            [
                "82e1197dc0372213",
                "406684bbbc7f89d0",
                "aecf0c84051b2016"
            ]
        ]
    },
    {
        "id": "4cf82f20c841c684",
        "type": "json",
        "z": "0286c62d85f26928",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1030,
        "y": 400,
        "wires": [
            [
                "13ccd8e097291227"
            ]
        ]
    },
    {
        "id": "88db54018feae181",
        "type": "inject",
        "z": "0286c62d85f26928",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "326project/smartbuilding/safety/0/1/pullstation",
        "payload": "{\"state\" : 1}",
        "payloadType": "json",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "db5a9c22e242e578"
            ]
        ]
    },
    {
        "id": "db5a9c22e242e578",
        "type": "mqtt out",
        "z": "0286c62d85f26928",
        "name": "",
        "topic": "326project/smartbuilding/safety/1/1/pullstation",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93a52709f8718a12",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "ededd9d4aaf70fcf",
        "type": "mqtt in",
        "z": "0286c62d85f26928",
        "name": "",
        "topic": "326project/smartbuilding/safety/1/1/pullstation",
        "qos": "2",
        "datatype": "auto",
        "broker": "93a52709f8718a12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "4c316564786b9b33"
            ]
        ]
    },
    {
        "id": "406684bbbc7f89d0",
        "type": "function",
        "z": "0286c62d85f26928",
        "name": "",
        "func": "var sprinkler_s = msg.payload[0].fire_alarm;\nvar topic_arr = msg.topic.split(\"/\");\ntopic_arr[3] = msg.payload[0].floorno;\ntopic_arr[4] = msg.payload[0].roomno;\ntopic_arr[5] = \"firealarm\";\nmsg.topic = topic_arr.join(\"/\");\nif(sprinkler_s){\n    msg.payload = [{\n        \"time\" : Date.now(),\n        \"state\" : 1,\n    }];\n}else{\n    msg.payload = [{\n        \"time\" : Date.now(),\n        \"state\" : 0,\n    }];\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 460,
        "wires": [
            [
                "74296fe747137351"
            ]
        ]
    },
    {
        "id": "74296fe747137351",
        "type": "json",
        "z": "0286c62d85f26928",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1030,
        "y": 520,
        "wires": [
            [
                "95d45710764760e7"
            ]
        ]
    },
    {
        "id": "13ccd8e097291227",
        "type": "mqtt out",
        "z": "0286c62d85f26928",
        "name": "Sprinker",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93a52709f8718a12",
        "x": 1220,
        "y": 420,
        "wires": []
    },
    {
        "id": "95d45710764760e7",
        "type": "mqtt out",
        "z": "0286c62d85f26928",
        "name": "Fire Alarm",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93a52709f8718a12",
        "x": 1210,
        "y": 480,
        "wires": []
    },
    {
        "id": "aecf0c84051b2016",
        "type": "function",
        "z": "0286c62d85f26928",
        "name": "",
        "func": "var sprinkler_s = msg.payload[0].indicate_lights;\nvar topic_arr = msg.topic.split(\"/\");\ntopic_arr[3] = msg.payload[0].floorno;\ntopic_arr[4] = msg.payload[0].roomno;\ntopic_arr[5] = \"indicatelights\";\nmsg.topic = topic_arr.join(\"/\");\nif(sprinkler_s){\n    msg.payload = [{\n        \"time\" : Date.now(),\n        \"state\" : 1,\n    }];\n}else{\n    msg.payload = [{\n        \"time\" : Date.now(),\n        \"state\" : 0,\n    }];\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 600,
        "wires": [
            [
                "19ed6ae8b4778819"
            ]
        ]
    },
    {
        "id": "19ed6ae8b4778819",
        "type": "json",
        "z": "0286c62d85f26928",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1110,
        "y": 620,
        "wires": [
            [
                "2675d5eea76d4b76"
            ]
        ]
    },
    {
        "id": "2675d5eea76d4b76",
        "type": "mqtt out",
        "z": "0286c62d85f26928",
        "name": "Indicate Lights",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93a52709f8718a12",
        "x": 1260,
        "y": 560,
        "wires": []
    },
    {
        "id": "da5671c249fc7921",
        "type": "mqtt in",
        "z": "0286c62d85f26928",
        "name": "",
        "topic": "326project/smartbuilding/hvac/control/0/1/ahu",
        "qos": "2",
        "datatype": "auto",
        "broker": "ad4ebd5fd5645515",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 680,
        "wires": [
            [
                "f95a61e47f1fdc19"
            ]
        ]
    },
    {
        "id": "f95a61e47f1fdc19",
        "type": "debug",
        "z": "0286c62d85f26928",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 660,
        "wires": []
    },
    {
        "id": "f4c4774373ab9ff8",
        "type": "mqtt in",
        "z": "0286c62d85f26928",
        "name": "",
        "topic": "326project/smartbuilding/safety/0/1/smoke",
        "qos": "2",
        "datatype": "auto",
        "broker": "ad4ebd5fd5645515",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 540,
        "wires": [
            [
                "4c316564786b9b33"
            ]
        ]
    },
    {
        "id": "b1d8c159901e1eee",
        "type": "inject",
        "z": "0286c62d85f26928",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "326project/smartbuilding/safety/0/1/smoke",
        "payload": "{\"Gas\" : 45}",
        "payloadType": "json",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "60ea8e7438db90da"
            ]
        ]
    },
    {
        "id": "60ea8e7438db90da",
        "type": "mqtt out",
        "z": "0286c62d85f26928",
        "name": "",
        "topic": "326project/smartbuilding/safety/0/1/smoke",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93a52709f8718a12",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "09d8812243f42cb1",
        "type": "mqtt in",
        "z": "0286c62d85f26928",
        "name": "",
        "topic": "326project/smartbuilding/hvac/0/1/tempereature",
        "qos": "2",
        "datatype": "auto",
        "broker": "ad4ebd5fd5645515",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 600,
        "wires": [
            [
                "4c316564786b9b33"
            ]
        ]
    },
    {
        "id": "323fc8de793b2519",
        "type": "inject",
        "z": "0286c62d85f26928",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "326project/smartbuilding/hvac/0/1/tempereature",
        "payload": "{\"temp\" : 28.5}",
        "payloadType": "json",
        "x": 890,
        "y": 120,
        "wires": [
            [
                "b4fada3b0415f916"
            ]
        ]
    },
    {
        "id": "b4fada3b0415f916",
        "type": "mqtt out",
        "z": "0286c62d85f26928",
        "name": "",
        "topic": "326project/smartbuilding/hvac/0/1/tempereature",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93a52709f8718a12",
        "x": 1160,
        "y": 120,
        "wires": []
    },
    {
        "id": "8d7c46e157f9d51c",
        "type": "debug",
        "z": "0286c62d85f26928",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "23358b3739c39335",
        "type": "mqtt in",
        "z": "0286c62d85f26928",
        "name": "",
        "topic": "326project/smartbuilding/hvac/control/0/1/ahu",
        "qos": "2",
        "datatype": "auto",
        "broker": "ad4ebd5fd5645515",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 780,
        "wires": [
            [
                "4c316564786b9b33"
            ]
        ]
    },
    {
        "id": "0cf0f9498f7eab17",
        "type": "inject",
        "z": "0286c62d85f26928",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "326project/smartbuilding/hvac/0/1/tempereature",
        "payload": "{\"speed\" : 0.5}",
        "payloadType": "json",
        "x": 750,
        "y": 40,
        "wires": [
            [
                "e37f4515971440fd"
            ]
        ]
    },
    {
        "id": "e37f4515971440fd",
        "type": "mqtt out",
        "z": "0286c62d85f26928",
        "name": "",
        "topic": "326project/smartbuilding/hvac/0/1/tempereature",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93a52709f8718a12",
        "x": 1060,
        "y": 60,
        "wires": []
    },
    {
        "id": "93a52709f8718a12",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.17.0.11",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ad4ebd5fd5645515",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.17.0.11",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]